@media (min-width: 320px) and (max-width: 800px) {
  #close1, #close2, #close3 {
    width: 30px !important;
    height: 2px;
    z-index: 1000;
    position: relative;
    background: black;
  }
  #close1 {
    left: 21px;
    top: -14px;
    transition: 0.2s;
  }
  #close2 {
    left: 21px;
    top: -40px;
    transition: 0.2s;
  }
  #close3 {
    top: -66px;
    left: 21px;
    transition: 0.2s;
  }
  .close {
    display: grid;
    width: 50px;
    height: 41px;
    position: relative;
    left: 281px;
    top: 43px;
    cursor: pointer;
  }
  .hiddenMenu {
    display: -ms-grid;
    display: grid;
    position: absolute;
    padding: 30px;
    font-size: 18px;
    left: -400px;
    z-index: 1;
    background: #FFFFFF;
    -ms-grid-columns: 214px;
    grid-template-columns: 214px;
    -ms-grid-rows:26px 16px 26px 16px 26px 16px 26px 16px 26px 16px 29px 16px 29px 16px 29px 16px 29px 16px 29px 16px 50px 16px 29px;
    grid-template-rows:repeat(5,26px) repeat(5,29px) 50px 29px;
    grid-row-gap: 16px;
    height: 558px;
    width: 273px;
    padding: 17px 26px;
    border: 1px solid #000000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }  .hiddenMenu > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(6) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(7) {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(8) {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(9) {
    -ms-grid-row: 17;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(10) {
    -ms-grid-row: 19;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(11) {
    -ms-grid-row: 21;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(12) {
    -ms-grid-row: 23;
    -ms-grid-column: 1;
  }
  .mobile_header_link {
    font-size: 16px;
    color: #000000;
    font-family: 'Muller-Light'
  }
  #link11 {
    left: 0px !important;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #link22 {
    left: 0px !important;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #link33 {
    left: 0px !important;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  #link44 {
    left: 0px !important;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  #link55 {
    left: 0px !important;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  #link66 {
    left: 0px !important;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    color: #808080;
  }
  #link77 {
    left: 0px !important;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    color: #808080;
  }
  #link88 {
    left: 0px !important;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
    color: #808080;
  }
  #link99 {
    left: 0px !important;
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9/10;
    color: #808080;
  }
  #link111 {
    left: 0px !important;
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: 10/11;
    color: #808080;
  }
  #link222 {
    left: 0px !important;
    -ms-grid-row: 12;
    -ms-grid-row-span: 1;
    grid-row: 12/13;
    color: #808080;
  }
  .mobile_img1{
    left: 0px !important;
    width: 26px;
    height: 26px;
    -ms-grid-row: 11;
    -ms-grid-row-span: 1;
    grid-row: 11/12;
    margin-top: 25px;
  }
  .mobile_img2{
    left: 0px !important;
    width: 26px;
    height: 26px;
    -ms-grid-row: 11;
    -ms-grid-row-span: 1;
    grid-row: 11/12;
    margin-left: -160px;
    margin-top: 25px;
  }
  .showHidden {
    position: absolute !important;
    left: 0px !important;
    transition: 0.2s;
  }
  .rotate_close3 {
      top: -77px !important;
      left: 21px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
    .transform_close2 {
      opacity: 0;
    }
    .rotate_close1 {
      top: -9px !important;
      left: 21px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
    }
  .wrap_footer {
    position: relative;
    left: -25px;
    z-index: -1 !important;
  }
  .contact_text {
    width: 140px;
  }
  .wrap_contact {
    position: relative;
    left: -53px;
  }
  .wrap_partners {
    position: relative;
    left: -40px;
  }
  .wrap_brokerage {
    position: relative;
    left: -50px;
  }
  .wrap_selection {
    position: relative;
    left: -44px;
  }
  .wrap_onboarding {
    position: relative;
    left: 20px;
  }
}
/*@media (min-height: 360px) and (orientation:landscape) {
  #infrastructure_img{
   margin-left: 130px;
  }
  .infrastructure_title{
    margin-left: 130px;
  }
  .infrastructure_subtitle{
    margin-left: 130px;
  }
  .features{
    margin-left: 130px;
  }
  .features_img_1, .features_img_2, .features_img_3, .features_img_4, .features_img_5{
    margin-left: 130px;
  }
  .features_1, .features_2, .features_3, .features_4, .features_5{
    margin-left: 210px;
  }
}*/
@media (min-height: 768px) and (orientation:landscape) {
  .features_1, .features_2, .features_3, .features_4, .features_5{
    margin-left: 130px;
  }
}
@media (min-height: 411px) and (orientation:landscape) {
  #infrastructure_img{
   margin-left: 170px;
  }
  .infrastructure_title{
    margin-left: 170px;
  }
  .infrastructure_subtitle{
    margin-left: 170px;
  }
  .features{
    margin-left: 170px;
  }
  .features_img_1, .features_img_2, .features_img_3, .features_img_4, .features_img_5{
    margin-left: 170px;
  }
  .features_1, .features_2, .features_3, .features_4, .features_5{
    margin-left: 250px;
  }
}
@media (min-height: 320px) and (orientation:landscape) {
  .container{
    left: -100px;
  }
  .wrap_container{
    margin-left: -100px;
  }
  #infrastructure_img{
    margin-left: 100px;
   }
   .infrastructure_title{
     margin-left: 100px;
   }
   .infrastructure_subtitle{
     margin-left: 100px;
   }
   .features{
     margin-left: 100px;
   }
   .features_img_1, .features_img_2, .features_img_3, .features_img_4, .features_img_5{
     margin-left: 100px;
   }
   .features_1, .features_2, .features_3, .features_4, .features_5{
     margin-left: 180px;
   }
}
@media (min-height: 375px) and (orientation:landscape) {

  .container{
    left: 0px;
  }
  .wrap_container{
    margin-left: 0px;
  }
  .features_1, .features_2, .features_3, .features_4, .features_5{
    margin-left: 180px;
 }
}

@media (min-width: 800px) and (max-width: 823px) and (orientation:landscape) {
  .features_1, .features_2, .features_3, .features_4, .features_5 {
    width: 336px;
    margin-left: -3px !important;
 }
 .asset_subtitle {
    width: 500px !important;
 }
 .rectangle4 {
   width: 392px !important;
 }
}
@media (min-width: 413px) and (max-width: 415px) {
  .wrap_infr {
    position: relative;
    left: -58px !important;
  }
}
@media (min-width: 780px) and (max-width: 1226px) {
    .wrap_infr {
      left: -57px !important;
    }
    .wrap_code {
      left: 113px !important;
    }
}
@media (min-width: 1023px) and (max-width: 1025px) {
  .features_1, .features_2, .features_3, .features_4, .features_5 {
    margin-left: 107px !important;
  }
  .wrap_infr {
    left: -35px !important;
  }
  .wrap_code {
    left: 105px !important;
  }
}
