@media (min-width: 320px) and (max-width: 366px) {
  .wrap_footer {
    left: 12px !important;
  }
  .wrap_contact {
    left: -10px;
  }
  .rectangle3 {
    width: 345px !important;
  }
  .selection_note, .selection_account {
    width: 320px !important;
  }
  .Structured_note, .Managed_account {
    width: 334px !important;
    -ms-grid-columns: 151px 179px !important;
    grid-template-columns: 151px 179px !important;
  }
  .item, .item3 {
    font-size: 14px !important;
  }
  .item2, .item4 {
    padding: 10px 10px !important;
    line-height: 23px !important;
    width: 164px !important;
    font-size: 14px !important;
  }
  .footer_address {
    margin-top: 118px !important;
    margin-left: 17px !important;
  }
  .onboarding {
    width: 287px !important;
  }
  .onboarding_title {
    left: 8px !important;
    position: relative;
  }
  .name_input, .mail_input, .phone_input, .text_input {
    width: 340px !important;
  }
  .footer_mail {
    margin-left: -214px !important;
  }
  .footer_logo {
    margin-left: -105px !important;
  }
  .footer_logo_name {
    margin-left: 16px !important;
  }
  #link7 {
    margin-left: 28px !important;
  }
  #link6 {
    margin-left: 28px !important;
  }
  #link8 {
    margin-left: 28px !important;
  }
  #link9 {
    width: 86px !important;
    margin-left: 28px !important;
    margin-top: 39px !important;
  }
  #link10 {
    margin-left: 28px !important;
    top: 32px !important;
    position: relative;
  }
  .infrastructure {
    left: 55px !important;
  }
  .wrap_code, #infrastructure_img {
    width: 335px !important;
  }
  .onboarding_img {
    position: relative;
    width: 335px !important;
    top: 12px !important;
    height: 227px !important;
    left: 7px !important;
  }
  .wrap_code {
    left: 44px !important;
    top: -14px !important;
  }
  .contact {
    left: 33px !important;
  }
  #partners_Providers {
    left: 33px !important;
  }
  #brokerage_and_Liquidity {
    left: 23px !important;
  }
  .wrap_brokerage {
    left: -44px !important;
  }
  .wrap_selection {
    left: 36px !important;
  }
  .selection {
    left: -55px !important;
  }
  .wrap_onboarding {
    left: 30px !important;
  }
  .wrap_infr {
    left: -80px !important;
  }
  .onbt {
    width: 268px !important;
  }
  .selection_button {
    width: 342px !important;
  }
  .features_1, .features_2, .features_3, .features_4, .features_5 {
    width: 260px !important;
    left: 54px !important;
    position: relative;
  }
  .partners_title {
    width: 217px !important;
  }
  .features {
    left: 65px !important;
    position: relative;
  }
  .feaimgco {
    margin-left: 62px !important;
  }
  .infrastructure_subtitle {
    margin-top: -44px !important;
    width: 330px !important;
    left: 67px !important;
    position: relative;
  }
  .infrastructure_title {
    margin-top: -25px !important;
    width: 337px !important;
    position: relative;
    left: 65px !important;
  }
}
@media (min-width: 360px) and (max-width: 374px) {
  .infrastructure {
    left: 60px !important;
  }
}
@media (min-width: 410px) and (max-width: 415px) {
  .infrastructure {
    left: 88px !important;
  }
}
@media (min-width: 320px) and (max-width: 770px) {
  .header {
    display: none;
  }
  .careers_task-title {
    position: relative;
    top: -6px;
  }
  .careers_title {
    font-family: 'Muller-Bold';
    font-size: 40px;
    line-height: 64px;
    position: relative;
    left: 5px;
    top: 123px;
    width: 100px;
  }
  .careers_wrap {
    margin-top: 5836px;
    position: relative;
    left: 23px;
  }
  .careers_administration-title, .developer_title,
   #buis, #buis2, #buis3, #buis4, .careers_requirements-content,
  .careers_requirements-title, .careers_task-title {
    font-size: 18px;
    line-height: 25px;
    width: 270px;
  }
  .careers_grid {
    grid-template-columns: 1fr;
    width: 320px;
  }
  #wrap2but, #wrap1but {
    font-family: 'Muller-Regular';
    z-index: 999;
    position: relative;
    color: #000000;
    font-size: 22px;
    line-height: 28px;
    font-weight: 400;
    max-width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    text-align: center;
    text-decoration: none;
    margin-top: 20px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    font-size: 18px;
    width: 160px;
    height: 65px;
    border: 1px solid #E30D1A;
  }
  .hide_block {
    height: 210px !important;
    transition: 0.2s;
  }
  .trans_arr0 {
    top: -929px !important;
    left: 236px !important;
  }
  #cont_detect {
    width: 100px;
    height: 100px;
    top: 2355px !important;
  }
  .trans_arr {
    top: -547px !important;
  }
  #arrow1 {
    position: relative;
    top: -82px;
    left: 235px;
  }
  #wrap2but {
    top: -26px !important;
  }
  .developer_task-content, .developer_requirements-content, .developer_task-title, .developer_requirements-title {
    font-size: 18px;
    line-height: 25px;
  }
  .com_arrow {
    top: -57px;
    left: 236px;
  }
  .careers_developer {
    top: 716px;
  }
  .careers_administration {
    width: 327px;
    position: relative;
    left: 8px;
    top: 113px;
    height: 1070px;
  }
  .careers_developer {
    width: 327px;
    position: relative;
    left: 8px;
    top: 119px;
    height: 715px;
  }
  .terms_title, #priv {
    font-size: 16px;
    line-height: 60px;
  }
  #liq_detect {
    top: 480px;
  }
  #brok_detect {
    top: 970px;
  }
  #part_detect {
    top: 1630px;
  }
  #cont_detect {
    position: absolute;
    top: 400px;
  }
  #priv {
    width: 200px;
  }
  .obvious {
    font-size: 16px;
    line-height: 22px;
    width: 200px;
  }
  .no_offer {
    font-size: 16px;
    font-weight: 800;
    line-height: 22px;
  }
  #mod1, #mod2, #mod3, #mod4, #mod5, #mod6 {
    width: 290px;
  }
  .swal-modal {
    width: 258px !important;
    height: 225px !important;
  }
  .swal-text {
    line-height: 25px;
    font-size: 16px !important;
    width: 200px !important;
    left: 0;
    top: -10px !important;
    text-align: center;
  }
  .swal-button {
    width: 99px;
    height: 51px;
    font-size: 16px !important;
    line-height: 35px;
    position: relative;
    top: -14px;
    left: -62px;
  }
  .wrap_code {
    left: -22px;
    height: 670px;
    width: 680px;
    top: 6px;
  }
  .asset, .wrap_infr, .wrap_onboarding, .wrap_selection, .wrap_partners, .wrap_contact, .wrap_footer {
    z-index: 999 !important;
  }
  .wrap_code::before {
      content: '';
      position: absolute;
      display: block;
      width: 708px;
      height: -6px;
      z-index: 1;
      height: 100px;
      top: -94px;
      left: -725px;
      border-top: 148px solid transparent;
      border-left: 641px solid white;
      -webkit-transform: rotate(275deg);
          -ms-transform: rotate(275deg);
              transform: rotate(275deg);
    }
    .wrap_code::after {
      content: '';
      position: absolute;
      display: block;
      width: 722px;
      height: -6px;
      z-index: 1;
      height: 93px;
      top: -111px;
      left: -162px;
      border-bottom: 144px solid transparent;
      border-left: 948px solid white;
      -webkit-transform: rotate(361deg);
          -ms-transform: rotate(361deg);
              transform: rotate(361deg);
    }
  .close {
    display: none;
    width: 50px;
    height: 41px;
    position: relative;
    left: 480px;
    top: 67px;
    cursor: pointer;
  }
  .header_logo{
    width: 29px;
    height: 31px;
    margin-left: -357px;
    left: 79px;
    top: 39px;
  }
  .header_logo_name{
    width: 80px;
    height: 10px;
    margin-top: -5px;
    left: 142px;
  }
  .main{
    margin-top: 190px;
    width: 300px;
    -ms-grid-columns:350px;
    grid-template-columns:350px;
    -ms-grid-rows: 150px 20px 66px 20px 180px;
    grid-template-rows: 150px 66px 180px;
    grid-row-gap: 20px;
  }.main > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }.main > *:nth-child(2){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }.main > *:nth-child(3){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .main_title{
    position: relative;
    font-size: 22px;
    line-height: 36px;
    white-space: nowrap;
    width: 300px;
    top: -40px;
  }
  .br_1{
    display: none;
  }
  .br_2{
    display: none;
  }
  .br_3{
    display:inline-block;
  }
  .br_4{
    display: none;
  }
  .br_5{
    display: inline-block;
  }
  .main_text{
    font-size: 14px;
    line-height: 22px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-left: -20px;
    width: 210px;
    position: relative;
    top: -41px;
}
  .wrap_container{
    background-image: url('../images/mobile.png');
    height: 719px;
    width: 100%;
  }
  .main_button1{
    border: 0.68px solid #E30D1A;
    width: 128px;
    height: 57px;
    font-size: 16px;
    line-height: 57px;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-top: 58px;
  }
  .wrap_code {
    width: 360px;
    height: 446px;
  }
  .main_button2{
    border: 0.68px solid #E30D1A;
    width: 128px;
    height: 57px;
    font-size: 16px;
    line-height: 57px;
    margin-left: 158px;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-top: 58px;
  }
  .asset {
    margin-top: 50px;
    width: 345px;
    -ms-grid-columns:300px;
    grid-template-columns:300px;
    -ms-grid-rows: 42px 20px 104px 20px 62px 20px 78px 20px 52px 20px 78px 20px 78px 20px 91px 20px 52px;
    grid-template-rows: 42px 104px 62px 78px 52px 78px 78px 91px 52px;
    grid-row-gap: 20px;
  } .asset > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  } .asset > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  } .asset > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  } .asset > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  } .asset > *:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  } .asset > *:nth-child(6) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  } .asset > *:nth-child(7) {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  } .asset > *:nth-child(8) {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
  } .asset > *:nth-child(9) {
    -ms-grid-row: 17;
    -ms-grid-column: 1;
  }

  .asset_title {
    font-size: 30px;
    line-height: 42px;
    width: 320px;
  }
  .asset_subtitle {
    font-size: 16px;
    line-height: 26px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    width: 326px;
  }
  .asset_strategies {
    font-size: 22px;
    line-height: 31px;
    margin-top: 15px;
    width: 350px;
  }
  .rectangle1{
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    width: 352px;
    height: 77px;
    left: -3px;
  }
  .asset_strategies_1{
    margin-top: 3px;
    font-size: 16px;
    line-height: 26px;
    margin-left: 0;
    width: 315px;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .rectangle2{
    margin-top: 0;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    width: 352px;
    height: 77px;
    left: -3px;
  }
  .asset_strategies_2{
    margin-top: 0px;
    margin-left: 0;
    font-size: 16px;
    line-height: 26px;
    width: 256px;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
  }
  .rectangle3{
    margin-top: 0;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
    width: 352px;
    height: 77px;
    left: -3px;
  }
  .asset_strategies_3{
    margin-top: -14px;
    margin-left: 0;
    font-size: 16px;
    line-height: 26px;
    width: 278px;
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9/10;
  }
  .rectangle4{
    display: none;
  }
  #downstr3 {
      width: 19px;
      height: 24px;
      top: 370px;
      left: 32px;
  }
  #downstr2 {
    width: 19px;
    height: 24px;
    top: 350px;
    left: 32px;
}
  #downstr1 {
    width: 19px;
    height: 24px;
    top: 480px;
    left: 332px;
  }
  .asset_button{
    border: 0.66px solid #E30D1A;
    width: 195px;
    height: 57px;
    font-size: 16px;
    line-height: 57px;
    margin-top: 15px;
  }
  .infrastructure{
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 570px;
    width: 288px;
    left: 137px;
    -ms-grid-columns:415px;
    grid-template-columns:415px;
    -ms-grid-rows: 477px 20px 38px 20px 104px 20px 55px 20px 55px 20px 55px 20px 55px 20px 55px 20px 85px;
    grid-template-rows: 477px 38px 104px 55px repeat(4, 55px) 85px;
    grid-row-gap: 20px;
  }.infrastructure > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }.infrastructure > *:nth-child(2){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }.infrastructure > *:nth-child(3){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }.infrastructure > *:nth-child(4){
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }.infrastructure > *:nth-child(5){
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }.infrastructure > *:nth-child(6){
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }.infrastructure > *:nth-child(7){
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }.infrastructure > *:nth-child(8){
    -ms-grid-row: 15;
    -ms-grid-column: 1;
  }.infrastructure > *:nth-child(9){
    -ms-grid-row: 17;
    -ms-grid-column: 1;
  }
  #infrastructure_img{
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
    width: 364px;
    height: 179%;
    margin-left: 0px !important;
  }
  .infrastructure_title{
    font-size: 22px;
    line-height: 38px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    color: #181818;
    margin-top: 0;
    width: 347px;
  }
  .infrastructure_subtitle{
    font-size: 16px;
    line-height: 26px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    color: #595959;
    margin-top: 0;
    width: 352px;
  }
  .features{
    font-size: 22px;
    line-height: 35px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    color: #181818;
    margin-top: 0;
    width: 300px;
  }
  .features_img_1{
    width: 62px;
    height: 62px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    margin-left: 2px;
    margin-top: 7px;
  }
  .features_1{
    font-size: 16px;
    line-height: 26px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    margin-left:82px;
    color: #595959;
    width: 280px;
  }
  .features_img_2{
    width: 62px;
    height: 62px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .features_2{
    font-size: 16px;
    line-height: 26px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    margin-left: 82px;
    color: #595959;
    width: 280px;
  }
  .features_img_3{
    width: 62px;
    height: 62px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    margin-left: 2px;
  }
  .features_3{
    font-size: 16px;
    line-height: 26px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    margin-left: 82px;
    color: #595959;
    margin-top: 2px;
    width: 280px;
  }
  .features_img_4{
    width: 62px;
    height: 62px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
    margin-left: 2px;
  }
  .features_4{
    font-size: 16px;
    line-height: 26px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
    margin-left: 82px;
    color: #595959;
    margin-top: 7px;
    width: 280px;
  }
  .features_img_5{
    width: 62px;
    height: 63px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9/10;
    margin-left: 2px;
    margin-top: 13px;
  }
  .features_5{
    font-size: 16px;
    line-height: 26px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9/10;
    margin-left: 82px;
    color: #595959;
    width: 280px;
  }
  .onboarding {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 1860px;
    width: 300px;
    -ms-grid-columns:400px;
    grid-template-columns:400px;
    -ms-grid-rows: 240px 25px 62px 25px 60px 25px 60px 25px 75px 25px 60px;
    grid-template-rows: 240px 62px 60px 60px 75px 60px;
    grid-row-gap: 25px;
  }
  .onboarding > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .onboarding > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .onboarding > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .onboarding > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .onboarding > *:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .onboarding > *:nth-child(6) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  .onboarding_title {
    font-size: 22px;
    line-height: 31px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    color: #181818;
    width: 340px;
  }
  .onboarding_img{
    width: 354px;
    height: 237px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .square1 {
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .onboarding_text1 {
    font-size: 16px;
    line-height: 26px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-left: 80px;
    color: #595959;
    margin-top: 10px;
    width: 275px;
  }
  .square2 {
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .onboarding_text2 {
    font-size: 16px;
    line-height: 26px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    margin-left: 80px;
    color: #595959;
    margin-top: 10px;
    width: 275px;
  }
  .square3 {
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    margin-top: 7px;
  }
  .onboarding_text3 {
    font-size: 16px;
    line-height: 26px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    margin-left: 80px;
    color: #595959;
    width: 275px;
  }
  .square4 {
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .onboarding_text4 {
    font-size: 16px;
    line-height: 26px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    margin-left: 80px;
    color: #595959;
    margin-top: 10px;
    width: 275px;
  }
  .selection {
    margin-top: 2700px;
    width: 300px;
    -ms-grid-columns: 365px;
    grid-template-columns: 365px;
    -ms-grid-rows: 31px 15px 32px 15px 335px 15px 32px 15px 330px 15px 90px;
    grid-template-rows: 31px 32px 335px 32px 330px 90px ;
    grid-row-gap: 15px;
    left: 21px;
  }  .selection > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }  .selection > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }  .selection > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }  .selection > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }  .selection > *:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }  .selection > *:nth-child(6) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  .Structured_note{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row:3;
    -ms-grid-row-span:1;
    grid-row:3/4;
    width: 365px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns:151px 214px;
    grid-template-columns:151px 214px;
    -ms-grid-rows: 86px 46px 72px 64px 55px;
    grid-template-rows: 86px 46px 72px 64px 55px;
    border-top: 1px solid #808080;
  }  .Structured_note > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }  .Structured_note > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }  .Structured_note > *:nth-child(3){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }  .Structured_note > *:nth-child(4){
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }  .Structured_note > *:nth-child(5){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }  .Structured_note > *:nth-child(6){
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }  .Structured_note > *:nth-child(7){
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }  .Structured_note > *:nth-child(8){
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }  .Structured_note > *:nth-child(9){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }  .Structured_note > *:nth-child(10){
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .Managed_account{
    left: 0px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row:5;
    -ms-grid-row-span:1;
    grid-row:5/6;
    width: 365px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns:151px 214px;
    grid-template-columns:151px 214px;
    -ms-grid-rows: 64px 72px 46px 86px 55px;
    grid-template-rows: 64px 72px 46px 86px 55px;
    border-top: 1px solid #808080;
  }  .Managed_account > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }  .Managed_account > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }  .Managed_account > *:nth-child(3){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }  .Managed_account > *:nth-child(4){
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }  .Managed_account > *:nth-child(5){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }  .Managed_account > *:nth-child(6){
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }  .Managed_account > *:nth-child(7){
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }  .Managed_account > *:nth-child(8){
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }  .Managed_account > *:nth-child(9){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }  .Managed_account > *:nth-child(10){
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
  .selection_title{
    width: 345px;
    font-size: 21px;
    line-height: 31px;
  }
  .selection_note, .selection_account {
    font-size: 20px;
    line-height: 32px;
  }
  .selection_note{
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .selection_account{
    left: 0px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    padding-left: 0px;
  }
  .selection_note_1,.selection_note_2, .selection_note_3, .selection_note_4{
    font-size: 16px;
    line-height: 25px;
  }
  .selection_note_5,.selection_note_6, .selection_note_7, .selection_note_8,.selection_note_9,.selection_note_10{
    font-size: 16px;
    line-height: 25px;
  }
  .selection_account_1, .selection_account_2, .selection_account_3, .selection_account_4,.selection_account_5{
    font-size: 16px;
    line-height: 25px;
  }
  .selection_account_6, .selection_account_7, .selection_account_8, .selection_account_9,.selection_account_10{
    font-size: 16px;
    line-height: 25px;
  }
  .selection_note_1{
    padding: 30px 0;
  }
  .selection_note_2{
    padding: 10px 0;
  }
  .selection_note_3{
    padding: 23px 0;
  }
  .selection_note_4{
    padding: 19px 0;
  }
  .selection_note_5{
    padding: 10px 0;
  }
  .selection_note_6{
    padding: 10px 51px 10px 14px;
    line-height: 23px;
    width: 148px;
  }
  .selection_note_7{
    padding: 10px 70px 10px 14px;
    width: 130px;
  }
  .selection_note_8{
    padding: 10px 95px 10px 14px;
    width: 106px;
  }
  .selection_note_9{
    padding: 10px 16px 10px 14px;
    width: 185px;
    line-height: 23px;
  }
  .selection_note_10{
    padding: 10px 0px 10px 14px;
  }
  .selection_account_1{
    padding: 19px 0px;
  }
  .selection_account_2{
    padding: 22px 0px;
  }
  .selection_account_3{
    padding: 10px 0px;
  }
  .selection_account_4{
    padding: 30px 0px;
  }
  .selection_account_5{
    padding: 10px 0px;
  }
  .selection_account_6{
    padding: 10px 14px;
  }
  .selection_account_7{
    padding: 10px 52px 10px 14px;
    width: 148px;
  }
  .selection_account_8{
    padding: 10px 14px;
  }
  .selection_account_9{
    padding: 10px 69px 10px 14px;
    width: 131px;
    line-height: 23px;
  }
  .selection_account_10{
    padding: 10px 14px;
  }
  .selection_button{
    top: 0px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    margin-top: 0px;
    width: 359px;
    height: 76px;
    font-size: 18px;
  }
  #brokerage_and_Liquidity{
    margin-top: 3710px;
    width: 300px;
    left: 19px;
    -ms-grid-columns:320px;
    grid-template-columns:320px;
    -ms-grid-rows: 35px 25px 87px 25px 55px 25px 55px 25px 55px 25px 55px 25px 95px 25px 116px 25px  50px 25px 50px 25px 50px 25px 75px 25px 600px;
    grid-template-rows: 35px 87px repeat(4, 55px) 95px 116px  repeat(3, 50px) 75px 600px;
    grid-row-gap: 25px;
  }  #brokerage_and_Liquidity > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }  #brokerage_and_Liquidity > *:nth-child(2){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }  #brokerage_and_Liquidity > *:nth-child(3){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }  #brokerage_and_Liquidity > *:nth-child(4){
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }  #brokerage_and_Liquidity > *:nth-child(5){
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }  #brokerage_and_Liquidity > *:nth-child(6){
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }  #brokerage_and_Liquidity > *:nth-child(7){
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }  #brokerage_and_Liquidity > *:nth-child(8){
    -ms-grid-row: 15;
    -ms-grid-column: 1;
  }  #brokerage_and_Liquidity > *:nth-child(9){
    -ms-grid-row: 17;
    -ms-grid-column: 1;
  }  #brokerage_and_Liquidity > *:nth-child(10){
    -ms-grid-row: 19;
    -ms-grid-column: 1;
  }  #brokerage_and_Liquidity > *:nth-child(11){
    -ms-grid-row: 21;
    -ms-grid-column: 1;
  }  #brokerage_and_Liquidity > *:nth-child(12){
    -ms-grid-row: 23;
    -ms-grid-column: 1;
  }  #brokerage_and_Liquidity > *:nth-child(13){
    -ms-grid-row: 25;
    -ms-grid-column: 1;
  }
  .brokerage_title{
    font-size: 30px;
    line-height: 48px;
    color: #181818;
    width: 300px;
  }
  .brokerage_subtitle{
    font-size: 18px;
    line-height: 29px;
    width: 320px;
  }
  .liquidity_subtitle {
    font-size: 18px;
    line-height: 29px;
    width: 294px;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
  }
  .square5 {
    top: 5px;
    width: 52px;
    height: 52px;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .brokerage_text1 {
    font-size: 18px;
    line-height: 25px;
    margin-left: 74px;
    color: #595959;
    margin-top: 7px;
    width: 200px;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .square6 {
    width: 52px;
    height: 52px;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .brokerage_text2 {
    color: #595959;
    font-size: 18px;
    line-height: 25px;
    margin-left: 74px;
    color: #595959;
    width: 200px;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .square7 {
    width: 30px;
    margin-left: 12px;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .brokerage_text3 {
    font-size: 18px;
    line-height: 25px;
    margin-left: 74px;
    color: #595959;
    margin-top: 12px;
    width: 200px;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .square8 {
    width: 45px;
    height: 45px;
    margin-top: 7px;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    margin-left: 12px;;
  }
  .brokerage_text4 {
    color: #595959;
    font-size: 18px;
    line-height: 25px;
    margin-left: 74px;
    color: #595959;
    margin-top: 7px;
    width: 200px;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .trading_img1{
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    width: 345px;
    height: 183px;
    margin-top: 0;
    display: none;
  }
  .liquidity_title{
    font-size: 30px;
    line-height: 48px;
    color: #181818;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    width: 200px;
    position: relative;
    left: 0px;
    margin-top: 55px;
  }
  .square9 {
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 12;
    -ms-grid-row-span: 1;
    grid-row: 12/13;
    margin-top: 18px;
    left: 5px;
    width: 50px;
  }
  .liquidity_text1 {
    color: #595959;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 12;
    -ms-grid-row-span: 1;
    grid-row: 12/13;
    margin-left: 60px;
    margin-top: 20px;
    width: 205px;
  }
  .square10 {
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: 10/11;
    margin-top: 24px;
    width: 50px;
    left: 3px;
  }
  .liquidity_text2 {
    color: #595959;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: 10/11;
    margin-left: 60px;
    margin-top: 25px;
    width: 205px;
  }
  .square11 {
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 11;
    -ms-grid-row-span: 1;
    grid-row: 11/12;
    margin-top: 22px;
    margin-left: 5px;
    width: 50px;
  }
  .liquidity_text3 {
    color: #595959;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 11;
    -ms-grid-row-span: 1;
    grid-row: 11/12;
    margin-left: 60px;
    margin-top: 25px;
    width: 205px;
  }
  .square12 {
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9/10;
    margin-top: 22px;
    margin-left: 2px;
    width: 50px;
  }
  .liquidity_text4 {
    color: #595959;
    font-size: 18px;
    line-height: 25px;
    font-weight: 400;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9/10;
    margin-left: 60px;
    margin-top: 25px;
    width: 205px;
  }
  .trading_img2{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 12;
    -ms-grid-row-span: 1;
    grid-row: 12/13;
    width: 320px;
    height: 183px;
    margin-top: 25px;
    position: relative;
    left: 13px;
    display: none;
  }
  .trading_img3{
    display: none;
  }
  .trading_img4{
    display: block;
    position: relative;
    left: 9px;
    width: 335px;
    height: 512px;
    grid-row: 13/14;
    margin-top: 100px;
  }
  #partners_Providers{
    margin-top: 5100px;
    left: 30px;
    width: 300px;
    -ms-grid-columns:162px 13px 162px;
    grid-template-columns:repeat(2, 162px);
    -ms-grid-rows: 45px 13px 97px 13px 97px 13px 97px;
    grid-template-rows: 45px repeat(3, 97px);
    grid-row-gap: 13px;
    grid-column-gap: 13px;
  }
  #partners_Providers > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #partners_Providers > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  #partners_Providers > *:nth-child(3){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  #partners_Providers > *:nth-child(4){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  #partners_Providers > *:nth-child(5){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  #partners_Providers > *:nth-child(6){
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  #partners_Providers > *:nth-child(7){
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  #partners_Providers > *:nth-child(8){
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .wrap_sponsor {
    width: 100px;
    height: 45px;
  }
  .partners_img1{
    width: 124%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .partners_img2{
    width: 130%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .partners_img3{
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .partners_img4{
    width: 130%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .partners_img5{
    width: 130%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .partners_img6{
    width: 130%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .partners_title{
    color: #181818;
    font-size: 22px;
    line-height: 35px;
  }
  .partners_img{
    width: 400px;
    height: 350px;
    margin-left: -10px;
  }
  .contact{
    margin-top: 20px;
    width: 300px;
    -ms-grid-columns:400px;
    grid-template-columns:400px;
    -ms-grid-rows: 35px 10px 42px 10px 42px 10px 42px 10px 145px 10px 42px 10px 16px;
    grid-template-rows: 35px repeat(3, 42px) 145px 42px 16px;
    grid-row-gap: 10px;
    left: 21px;
  }
  .contact > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .contact > *:nth-child(2){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .contact > *:nth-child(3){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .contact > *:nth-child(4){
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .contact > *:nth-child(5){
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .contact > *:nth-child(6){
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  .contact > *:nth-child(7){
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }
  .contact_title{
    color: #181818;
    font-size: 22px;
    line-height: 35px;
    width: 200px;
  }
  .name_input{
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    width: 351px;
    height: 42px;
    font-size: 16px;
    line-height: 22px;
    padding-left: 15px;
  }
  .mail_input{
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    width: 351px;
    height: 42px;
    font-size: 16px;
    line-height: 22px;
    padding-left: 15px;
  }
  .phone_input{
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    width: 351px;
    height: 42px;
    font-size: 16px;
    line-height: 22px;
    padding-left: 15px;
  }
  .text_input{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    width: 352px;
    height: 145px;
    font-size: 16px;
    line-height: 22px;
    padding-left: 15px;
    padding-top: 11px;
  }
  .contact_button{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    width: 168px;
    height: 42px;
    font-size: 16px;
    line-height: 42px;
  }
  .contact_text{
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    margin-left: 190px;
    font-size: 6px;
    line-height: 11px;
    margin-top: 10px;
    width: 140px;
  }
  .contact_text2{
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    margin-top: 10px;
    font-size: 11px;
    line-height: 16px;
    width: 205px;
  }
  .footer {
    margin-top: 308px;
    width: 300px;
    height: 500px;
    left: -26px;
    -ms-grid-columns: 145px 48px 150px;
    grid-template-columns: 145px 150px;
    -ms-grid-rows: 50px 18px 26px 18px 26px 18px 26px 18px 26px 18px 26px 18px 90px 18px 26px;
    grid-template-rows: 50px repeat(5, 26px) 90px 26px;
    grid-column-gap:48px;
    grid-row-gap: 18px;
  }  .footer > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }  .footer > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }  .footer > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }  .footer > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }  .footer > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }  .footer > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }  .footer > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }  .footer > *:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }  .footer > *:nth-child(9) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }  .footer > *:nth-child(10) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }  .footer > *:nth-child(11) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }  .footer > *:nth-child(12) {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
  }  .footer > *:nth-child(13) {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }  .footer > *:nth-child(14) {
    -ms-grid-row: 13;
    -ms-grid-column: 3;
  }  .footer > *:nth-child(15) {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
  }  .footer > *:nth-child(16) {
    -ms-grid-row: 15;
    -ms-grid-column: 3;
  }
    .footer_link{
      font-size: 16px;
      line-height: 26px;
    }
    .footer_logo{
      width: 31px;
      height: 33px;
      margin-left: 0px;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1/2;
    }
    .footer_logo_name {
      width: 86px;
      height: 11px;
      margin-left: 40px;
      -ms-grid-column:1;
      -ms-grid-column-span:1;
      grid-column:1/2;
      -ms-grid-row: 1;
      -ms-grid-row-span: 1;
      grid-row: 1/2;
      margin-top: 0px;
    }
    #link6{
      -ms-grid-column:1;
      -ms-grid-column-span:1;
      grid-column:1/2;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2/3;
      margin-left: 0px;
      width: 144px;
    }
    #link7{
      -ms-grid-column:1;
      -ms-grid-column-span:1;
      grid-column:1/2;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      grid-row: 3/4;
      margin-top: 0px;
      margin-left: 0px;
      width: 75px;
    }
    #link8{
      -ms-grid-column:1;
      -ms-grid-column-span:1;
      grid-column:1/2;
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;
      grid-row: 4/5;
      margin-left: 0px;
      width: 64px;
    }
    #link9{
      -ms-grid-column:1;
      -ms-grid-column-span:1;
      grid-column:1/2;
      -ms-grid-row: 5;
      -ms-grid-row-span: 1;
      grid-row: 5/6;
      margin-top: 0px;
      margin-left: 0px;
      width: 154px;
    }
    #link10{
      -ms-grid-column:1;
      -ms-grid-column-span:1;
      grid-column:1/2;
      -ms-grid-row: 6;
      -ms-grid-row-span: 1;
      grid-row: 6/7;
      margin-left: 0px;
      width: 67px;
    }
    #link16{
      -ms-grid-column:2;
      -ms-grid-column-span:1;
      grid-column:2/3;
      -ms-grid-row: 2;
      -ms-grid-row-span: 1;
      grid-row: 2/3;
      margin-left: 0px;
      width: 107px;
      color: #808080;
    }
    #link17 {
      -ms-grid-row: 7;
      -ms-grid-row-span: 1;
      grid-row: 7 / 8;
      -ms-grid-column: 4;
      -ms-grid-column-span: 1;
      grid-column: 2 / 3;
      width: 114px;
      position: relative;
      top: -30px;
      color: #808080;
    }
    #link12{
      -ms-grid-column:2;
      -ms-grid-column-span:1;
      grid-column:2/3;
      -ms-grid-row: 3;
      -ms-grid-row-span: 1;
      grid-row: 3/4;
      margin-left: 0px;
      width: 99px;
      color: #808080;
    }
    #link13{
      -ms-grid-column:2;
      -ms-grid-column-span:1;
      grid-column:2/3;
      -ms-grid-row: 4;
      -ms-grid-row-span: 1;
      grid-row: 4/5;
      margin-left: 0px;
      width: 93px;
      color: #808080;
    }
    #link14{
      -ms-grid-column:2;
      -ms-grid-column-span:1;
      grid-column:2/3;
      -ms-grid-row: 5;
      -ms-grid-row-span: 1;
      grid-row: 5/6;
      margin-left: 0px;
      width: 156px;
      color: #808080;
    }
    #link15{
      -ms-grid-column:2;
      -ms-grid-column-span:1;
      grid-column:2/3;
      -ms-grid-row: 6;
      -ms-grid-row-span: 1;
      grid-row: 6/7;
      margin-left: 0px;
      width: 115px;
      color: #808080;
    }
    .and_cookies{
      display: none;
    }
    .footer_address{
      -ms-grid-column:1;
      -ms-grid-column-span:2;
      grid-column:1/3;
      -ms-grid-row: 7;
      -ms-grid-row-span: 1;
      grid-row: 7/8;
      margin-top: 125px;
      margin-left: 0px;
      font-size: 16px;
      line-height: 26px;
    }
    .footer_mail{
      -ms-grid-column:1;
      -ms-grid-column-span:1;
      grid-column:1/2;
      -ms-grid-row: 8;
      -ms-grid-row-span: 1;
      grid-row: 8/9;
      margin-top: 57px;
      margin-left: 0px;
      font-size: 16px;
      line-height: 26px;
      width: 118px;
    }
    .footer_img1{
      width: 23px;
      height: 23px;
      -ms-grid-column:2;
      -ms-grid-column-span:1;
      grid-column:2/3;
      -ms-grid-row: 7;
      -ms-grid-row-span: 1;
      grid-row: 7/8;
    }
    .special_links {
      border-bottom: 0.5px solid #808080;
    }
    #linkedin {
      width: 23px;
      height: 23px;
      position: relative;
      left: 92px;
      top: 345px;
    }
    #medium {
      width: 23px;
      height: 23px;
      position: relative;
      left: 126px;
      top: -42px;
    }
    .footer_img2{
      width: 35px;
      height: 29px;
      -ms-grid-column:2;
      -ms-grid-column-span:1;
      grid-column:2/3;
      -ms-grid-row: 7;
      -ms-grid-row-span: 1;
      grid-row: 7/8;
    }

}
