.onboarding {
  position: absolute;
  margin-top: 2193px;
  width: 1320px;
  display: grid;
  grid-template-columns:580px 730px;
  grid-template-rows: 100px repeat(4, 70px);
  grid-column-gap:15px;
  grid-row-gap: 25px;
}
.onboarding_title {
  font-family: 'Muller-Bold';
  color: #000000;
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
  grid-column:1/2;
  grid-row: 1/2;
  margin: 0;
}
.onboarding_img{
  width: 734px;
  height: 481px;
  grid-column:2/3;
  grid-row: 1/6;
}
.square1 {
  position: absolute;
  display:inline-block ;
  width: 70px;
  height: 70px;
  grid-column:1/2;
  grid-row: 2/3;
  margin-left: -15px;
}
.onboarding_text1 {
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 400;
  grid-column:1/2;
  grid-row: 2/3;
  margin-left: 93px;
  margin-top: 4px;
}
.square2 {
  position: absolute;
  display:inline-block ;
  width: 70px;
  height: 70px;
  grid-column:1/2;
  grid-row: 3/4;
}
.onboarding_text2 {
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 400;
  grid-column:1/2;
  grid-row: 3/4;
  margin-left: 93px;
  margin-top: 4px;
}
.square3 {
  position: absolute;
  display:inline-block ;
  width: 70px;
  height: 70px;
  grid-column:1/2;
  grid-row: 4/5;
}
.onboarding_text3 {
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 400;
  grid-column:1/2;
  grid-row: 4/5;
  margin-left: 93px;
  margin-top: 4px;
}
.square4 {
  position: absolute;
  display:inline-block ;
  width: 70px;
  height: 70px;
  grid-column:1/2;
  grid-row: 5/6;
}
.onboarding_text4 {
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 400;
  grid-column:1/2;
  grid-row: 5/6;
  margin-left: 93px;
  margin-top: 4px;
}
.selection {
  position: absolute;
  margin-top: 2890px;
  width: 1320px;
  display: grid;
  grid-template-columns:453px 527px;
  grid-template-rows: 42px 90px repeat(4, 31px) 100px;
  grid-column-gap:140px;
  grid-row-gap: 20px;
}
.selection_title {
  font-family: 'Muller-Bold';
  color: #000000;
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
  grid-column:1/2;
  grid-row: 1/2;
  margin: 0;
}
.selection_note {
  font-family: 'Muller-Bold';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 700;
  grid-column:1/2;
  grid-row: 2/3;
  border-bottom: 1px solid #000000;
}
.selection_account {
  font-family: 'Muller-Bold';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 700;
  grid-column:2/3;
  grid-row: 2/3;
  border-bottom: 1px solid #000000;
}
.selection_note_1{
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 31px;
  font-weight: 400;
  grid-column:1/2;
  grid-row: 3/4;
  margin-top: -5px;
}
.selection_note_2{
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 31px;
  font-weight: 400;
  grid-column:1/2;
  grid-row: 4/5;
  margin-top: 0;
}
.selection_note_3{
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 31px;
  font-weight: 400;
  grid-column:1/2;
  grid-row: 5/6;
  margin-top: 0;
}

