.footer {
  margin-top: 5950px;
  margin-bottom: 80px;
  width: 1320px;
  height: 300px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns:50px 88px 210px 88px 162px 88px 214px 88px 400px;
  grid-template-columns:50px 210px 162px 214px 400px;
  -ms-grid-rows: 30px 10px 30px 10px 30px 10px 30px 10px 30px;
  grid-template-rows: repeat(5, 30px);
  grid-column-gap:88px;
  grid-row-gap: 10px;
	-webkit-box-align:center;
	    -ms-flex-align:center;
	        align-items:center;
}.footer > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.footer > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}.footer > *:nth-child(3) {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
}.footer > *:nth-child(4) {
  -ms-grid-row: 1;
  -ms-grid-column: 7;
}.footer > *:nth-child(5) {
  -ms-grid-row: 1;
  -ms-grid-column: 9;
}.footer > *:nth-child(6) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}.footer > *:nth-child(7) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}.footer > *:nth-child(8) {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
}.footer > *:nth-child(9) {
  -ms-grid-row: 3;
  -ms-grid-column: 7;
}.footer > *:nth-child(10) {
  -ms-grid-row: 3;
  -ms-grid-column: 9;
}.footer > *:nth-child(11) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}.footer > *:nth-child(12) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}.footer > *:nth-child(13) {
  -ms-grid-row: 5;
  -ms-grid-column: 5;
}.footer > *:nth-child(14) {
  -ms-grid-row: 5;
  -ms-grid-column: 7;
}.footer > *:nth-child(15) {
  -ms-grid-row: 5;
  -ms-grid-column: 9;
}.footer > *:nth-child(16) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}.footer > *:nth-child(17) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}.footer > *:nth-child(18) {
  -ms-grid-row: 7;
  -ms-grid-column: 5;
}.footer > *:nth-child(19) {
  -ms-grid-row: 7;
  -ms-grid-column: 7;
}.footer > *:nth-child(20) {
  -ms-grid-row: 7;
  -ms-grid-column: 9;
}.footer > *:nth-child(21) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}.footer > *:nth-child(22) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}.footer > *:nth-child(23) {
  -ms-grid-row: 9;
  -ms-grid-column: 5;
}.footer > *:nth-child(24) {
  -ms-grid-row: 9;
  -ms-grid-column: 7;
}.footer > *:nth-child(25) {
  -ms-grid-row: 9;
  -ms-grid-column: 9;
}
.wrap_infr {
  position: relative;
  left: -89px !important;
}
.footer_logo {
  -ms-grid-row:1;
  -ms-grid-row-span:2;
  grid-row:1/3 ;
  -ms-grid-column:1;
  -ms-grid-column-span:1;
  grid-column:1/2;
  width: 46px;
  height: 49px;
  position: relative;
  top: -5px;
}
.footer_logo_name {
  -ms-grid-row:1;
  -ms-grid-row-span:2;
  grid-row:1/3 ;
  -ms-grid-column:2;
  -ms-grid-column-span:1;
  grid-column:2/3;
  width: 127px;
  height: 16px;
  margin-left: -80px;
  position: relative;
  top: -5px;
}
.footer_link {
  font-family: 'Muller-Light';
  text-decoration:none;
  border-bottom: 0.5px solid #000000;
  color: #000000;
  font-size: 18px;
  line-height: 29px;
  font-weight: 300;
}
.footer_address{
  font-family: 'Muller-Light';
  color: #000000;
  font-size: 18px;
  line-height: 29px;
  font-weight: 300;
  -ms-grid-row:3;
  -ms-grid-row-span:2;
  grid-row:3/5 ;
  -ms-grid-column:1;
  -ms-grid-column-span:2;
  grid-column:1/3;
  margin-top: 10px;
  margin-left: 0px;
}
.footer_mail{
  font-family: 'Muller-Light';
  text-decoration:none;
  border-bottom: 0.5px solid #000000;
  color: #000000;
  font-size: 18px;
  line-height: 29px;
  font-weight: 300;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column:5;
  -ms-grid-column-span:1;
  grid-column:5/6;
  margin-left: 0px;
  margin-top: 0px;
  width: 133px;
}
.footer_img1{
  width: 35px;
  height: 35px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column:5;
  -ms-grid-column-span:1;
  grid-column:5/6;
  margin-top: 0px;
  margin-left: 183px;
}
.footer_img2{
  width: 52px;
  height: 52px;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column:5;
  -ms-grid-column-span:1;
  grid-column:5/6;
  margin-top: 0px;
  margin-left: 268px;
}
#link6{
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column:3;
  -ms-grid-column-span:1;
  grid-column:3/4;
  width: 162px;
}
#link7{
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column:3;
  -ms-grid-column-span:1;
  grid-column:3/4;
  width: 85px;
}
#link8{
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column:3;
  -ms-grid-column-span:1;
  grid-column:3/4;
  width: 72px;
}
#link9{
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column:3;
  -ms-grid-column-span:1;
  grid-column:3/4;
  width: 176px;
}
#link10{
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column:3;
  -ms-grid-column-span:1;
  grid-column:3/4;
  width: 76px;
}
#link16{
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  -ms-grid-column:4;
  -ms-grid-column-span:1;
  grid-column:4/5;
  width: 121px;
}
#link12{
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  -ms-grid-column:4;
  -ms-grid-column-span:1;
  grid-column:4/5;
  width: 112px;
}
#link13{
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  -ms-grid-column:4;
  -ms-grid-column-span:1;
  grid-column:4/5;
  width: 104px;
}
#link14{
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  -ms-grid-column:4;
  -ms-grid-column-span:1;
  grid-column:4/5;
  width: 176px;
}
#link15{
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  -ms-grid-column:4;
  -ms-grid-column-span:1;
  grid-column:4/5;
  width: 214px;
}
#first_sponsor {
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1 / 2;
}
.wrap_sponsor {
  width: 353px;
  height: 181px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 25px;
  margin-bottom: 30px;
  background-color: #fff;
  border: 1px solid #e4e8ee;
  border-radius: 11px;
  text-align: center;
  -webkit-transition: 0.4s;
  -o-transition: 0.4s;
  transition: 0.4s;
}
.wrap_sponsor:hover {
  -webkit-box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .12);
          box-shadow: 0 6px 12px 0 rgba(0, 0, 0, .12);
}
.wrap_modal1 {
  position: fixed;
  top: 0px;
  background: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100vh;
  z-index: 1000;
  display: none;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
}
.add1 {
  display: -ms-grid !important;
  display: grid !important;
}
#mod1, #mod2, #mod3, #mod4, #mod5 {
  position: relative;
  z-index: 1000;
  display: none;
  width: 1000px;
  height: 700px;
  background: #ffffff;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.swal-modal {
  width: 634px !important;
  height: 141px !important;
  border: 1px solid #000000;
}
.swal-text {
  line-height: 25px;
  font-size: 22px !important;
  width: 357px;
  left: -90px;
  color: black !important;
}
.swal-button {
  background-color: #fff !important;
  color: black !important;
  border-radius: 0px !important;
  font-weight: 400 !important;
  cursor: pointer;
  border: 1px solid #E30D1A !important;
  -webkit-box-sizing: border-box !important;
          box-sizing: border-box !important;
  width: 122px;
  height: 71px;
  font-size: 22px !important;
  line-height: 35px;
  position: relative;
  top: -88px;
  left: -47px;
}
.swal-button-container {
    margin: 0px !important;
}
