.footer {
  margin-top: 6050px;
  margin-bottom: 80px;
  width: 1320px;
  display: grid;
  grid-template-columns:46px 0.5fr 1fr 162px 85px 72px 134px 169px;
  grid-column-gap:45px;
  justify-items:center;
	align-items:center;
}
.footer_logo {
  grid-column:1/2;
  width: 46px;
  height: 49px;
}
.footer_logo_name {
  grid-column:2/3;
  width: 127px;
  height: 16px;
  margin-left: -60px;
}
.footer_link {
  font-family: 'Muller-Light';
  text-decoration:none;
  border-bottom: 0.5px solid #000000;
  color: #000000;
  font-size: 18px;
  line-height: 29px;
  font-weight: 300;
}
.footer_address{
  font-family: 'Muller-Light';
  color: #000000;
  font-size: 18px;
  line-height: 29px;
  font-weight: 300;
  grid-column:4/6;
  margin-top: 40px;
  margin-left: -45px;
}
.footer_mail{
  font-family: 'Muller-Light';
  text-decoration:none;
  border-bottom: 0.5px solid #000000;
  color: #000000;
  font-size: 18px;
  line-height: 29px;
  font-weight: 300;
  grid-column:7/9;
  margin-left: -80px;
  margin-top: 20px;
}
.footer_img1{
  width: 35px;
  height: 35px;
  grid-column:8/9;
  margin-top: -90px;
  margin-left: -23px;
}
.footer_img2{
  width: 52px;
  height: 52px;
  grid-column:8/9;
  margin-top: -90px;
  margin-left: 120px;
}
.trading{
  position: absolute;
  margin-top: 4070px;
  width: 1320px;
  display: grid;
  grid-template-columns:516px 516px;
  grid-column-gap:170px;
}
.trading_img1{
  grid-column:1/2;
  width: 516px;
  height: 273px;
}
.trading_img2{
  grid-column:2/3;
  width: 516px;
  height: 273px;
}