.rectangle1{
  position: absolute;
  display:inline-block ;
  width: 233px;
  height: 51px;
  grid-column:1/2;
  grid-row: 4/5;
  margin-top: 8px;
}

.asset_strategies_2{
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 400;
  grid-column:1/2;
  grid-row: 5/6;
  margin-top: 2px;
  margin-left: 260px;
}
.rectangle2{
  position: absolute;
  display:inline-block ;
  width: 233px;
  height: 51px;
  grid-column:1/2;
  grid-row: 5/6;
  margin-top: 8px;
}
.asset_strategies_3{
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 400;
  grid-column:1/2;
  grid-row: 6/7;
  margin-top: 2px;
  margin-left: 260px;
}
.rectangle3{
  position: absolute;
  display:inline-block ;
  width: 233px;
  height: 51px;
  grid-column:1/2;
  grid-row: 6/7;
  margin-top: 8px;
}
.asset_button{
  margin-top: 10px;
  grid-column:1/2;
  grid-row: 7/8;
  text-decoration: none;
  border: 1px solid #E30D1A;
  text-align:center;
  width: 300px;
  height: 83px;
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 83px;
  font-weight: 400;
  box-sizing: border-box;
}
.rectangle4{
  grid-column:2/3;
  grid-row: 2/8;
  width: 900px;
  height: 715px;
  margin-top: 5px;
}
.infrastructure{
  position: absolute;
  margin-top: 1240px;
  width: 1320px;
  display: grid;
  grid-template-columns:640px 680px;
  grid-template-rows: 48px 140px 70px repeat(5, 80px);
  grid-column-gap:75px;
  grid-row-gap: 10px;
}
#infrastructure_img{
  position: relative;
  top: -100px;
  grid-column:1/2;
  grid-row: 1/9;
  transition: 1s;
}
.wrap_code {
  position: relative;
  top: 34px;
  height: 690px;
  width: 730px;
  overflow-y: hidden;
}
.wrap_code::-webkit-scrollbar {
   width: 0;
 }
.infrastructure_title{
  font-family: 'Muller-Bold';
  color: #000000;
  font-size: 30px;
  line-height: 48px;
  font-weight: 700;
  grid-column:2/3;
  grid-row: 1/2;
}
.infrastructure_subtitle{
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 400;
  grid-column:2/3;
  grid-row: 2/3;
}
.features{
  font-family: 'Muller-Bold';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 700;
  grid-column:2/3;
  grid-row: 3/4;
  padding-top: 20px;
}
.features_img_1{
  width: 71px;
  height: 73px;
  grid-column:2/3;
  grid-row: 4/5;
}
.features_1{
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 400;
  grid-column:2/3;
  grid-row: 4/5;
  margin-left: 90px;
  margin-top: 10px;
}
.features_img_2{
  width: 67px;
  height: 68px;
  grid-column:2/3;
  grid-row: 5/6;
}
.features_2{
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 400;
  grid-column:2/3;
  grid-row: 5/6;
  margin-left: 90px;
  margin-top: 5px;
}
.features_img_3{
  width: 79px;
  height: 80px;
  grid-column:2/3;
  grid-row: 6/7;
  margin-left: -5px;
}
.features_img_4{
  width: 79px;
  height: 80px;
  grid-column:2/3;
  grid-row: 7/8;
  margin-left: -5px;
}
.features_img_5{
  width: 79px;
  height: 80px;
  grid-column:2/3;
  grid-row: 8/9;
  margin-left: -10px;
}
.features_3{
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 400;
  grid-column:2/3;
  grid-row: 6/7;
  margin-left: 90px;
  margin-top: 10px;
}
.features_4{
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 400;
  grid-column:2/3;
  grid-row: 7/8;
  margin-left: 90px;
  margin-top: 8px;
}
.features_5{
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 400;
  grid-column:2/3;
  grid-row: 8/9;
  margin-left: 90px;
  margin-top: 8px;
}
