.careers {
  margin: 0;
  padding: 0;
}

.careers_wrap {
  margin-top: 5600px;
}

.careers_title {
  display: block;
  font-family: (Muller);
  font-style: normal;
  font-weight: bold;
  font-size: 70px;
  line-height: 160%;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.careers_grid {
  width: 1288px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 1014px) minmax(auto, 687px);
      grid-template-columns: minmax(auto, 1014px) minmax(auto, 687px);
  -ms-grid-rows: 1fr;
      grid-template-rows: 1fr;
  justify-items: center;
  gap: 30px;
}

.careers_administration {
  background: #FFFFFF;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 627px;
  height: 1040px;
  padding: 30px;
  transition: 0.1s;
  overflow: hidden;
}

.careers_administration-title {
  font-family: 'Muller-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 140%;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.careers_task-title {
  font-family: 'Muller-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.careers_task-content {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
  width: 427px;
}

.careers_requirements-title {
  font-family: 'Muller-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.careers_requirements-content {
  font-family: (Muller);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 31px;
  color: #000000;
  margin: 0;
  padding: 0;
}
.careers_requirements {
  position: relative;
  top: -55px;
}

.careers_administration-button {
  text-decoration: none;
}

.careers_administration-button:hover {
  background-color: #E30D1A;
  color: white;
}

.careers_developer {
  background: #FFFFFF;
  border: 1px solid #000000;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 627px;
  height: 648px;
  padding: 30px;
  transition: 0.1s;
  overflow: hidden;
}

.hide_block {
  height: 256px !important;
  transition: 0.2s;
}
.opa {
  opacity: 0 !important;
}
.trans_arr0 {
  top: -857px !important;
  transform: rotate(180deg);
}
.trans_arr {
  top: -442px !important;
  transform: rotate(180deg);
}
.shadowCont {
  background: linear-gradient(to bottom, #000000 0%, #ffffff 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.developer_title {
  font-family: 'Muller-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 30px;
  line-height: 140%;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.developer_task-title {
  font-family: 'Muller-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.developer_task-content {
  font-family: (Muller);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.developer_requirements-title {
  font-family: 'Muller-Bold';
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 50px;
  color: #000000;
  margin: 0;
  padding: 0;
}

.developer_requirements-content {
  font-family: (Muller);
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-bottom: 30px;
}

.developer_requirements-button {
  text-decoration: none;
}

#wrap2but:hover {
  background-color: #E30D1A;
  color: white;
}
#wrap1but:hover {
  background-color: #E30D1A;
  color: white;
}
.com_arrow {
  position: relative;
  left: 542px;
  top: -61px;
  cursor: pointer;
  transition: 0.2s;
}
#buis, #buis2, #buis3, #buis4 {
  font-style: normal;
  font-weight: 400;
  font-size: 22px;
  line-height: 140%;
  color: #000000;
  margin: 0;
  padding: 0;
  padding-bottom: 0;
  width: 427px;
  position: relative;
}
#cont_detect {
  width: 100px;
  height: 100px;
  top: 2028px !important;
}
#buis {
  top: -32px;
  transition: 0.5s !important;
}
#buis2 {
  top: -45px;
}
#buis3 {
  top: -57px;
}
#buis4 {
  top: -68px;
}
#wrap1but {
  position: relative;
  top: -51px;
}
#arrow1 {
  top: -89px;
  left: 543px;
}
#wrap2but, #wrap1but {
  width: 300px;
  height: 83px;
  border: 1px solid #E30D1A;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 22px;
  line-height: 160%;
  color: black;
  transition: 0.2s;
}
#wrap2but {
  position: relative;
  top: -25px;
}
@media (max-width: 1390px) {
  .careers_wrap {
    margin-top: 6350px;
  }
}
