.selection_note_4{
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 31px;
  font-weight: 400;
  grid-column:1/2;
  grid-row: 6/7;
  margin-top: 0;
}
.selection_account_1{
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 31px;
  font-weight: 400;
  grid-column:2/3;
  grid-row: 3/4;
  margin-top: -5px;
}
.selection_account_2{
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 31px;
  font-weight: 400;
  grid-column:2/3;
  grid-row: 4/5;
  margin-top: 0;
}
.selection_account_3{
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 31px;
  font-weight: 400;
  grid-column:2/3;
  grid-row: 5/6;
  margin-top: 0;
}
.selection_account_4{
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 31px;
  font-weight: 400;
  grid-column:2/3;
  grid-row: 6/7;
  margin-top: 0;
}
.selection_button{
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 83px;
  font-weight: 400;
  grid-column:1/2;
  grid-row: 7/8;
  width: 300px;
  height: 83px;
  border: 1px solid #E30D1A;
  box-sizing: border-box;
  text-align:center;
  text-decoration: none;
  margin-top: 10px;
}
#Brokerage_and_Liquidity{
  position: absolute;
  margin-top: 3560px;
  width: 1320px;
  display: grid;
  grid-template-columns:450px 450px;
  grid-template-rows: 100px repeat(4, 70px);
  grid-column-gap:240px;
  grid-row-gap: 20px;
}
.brokerage_title{
  font-family: 'Muller-Bold';
  color: #000000;
  font-size: 70px;
  line-height: 112px;
  font-weight: 700;
  grid-column:1/2;
  grid-row: 1/2;
  margin: 0;
}
.liquidity_title{
  font-family: 'Muller-Bold';
  color: #000000;
  font-size: 70px;
  line-height: 112px;
  font-weight: 700;
  grid-column:2/3;
  grid-row: 1/2;
  margin: 0;
}
.square5 {
  position: absolute;
  display:inline-block ;
  width: 70px;
  height: 70px;
  grid-column:1/2;
  grid-row: 2/3;
}
.brokerage_text1 {
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 31px;
  font-weight: 400;
  grid-column:1/2;
  grid-row: 2/3;
  margin-left: 90px;
  margin-top: 20px;
}
.square6 {
  position: absolute;
  display:inline-block ;
  width: 70px;
  height: 70px;
  grid-column:1/2;
  grid-row: 3/4;
}
.brokerage_text2 {
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 31px;
  font-weight: 400;
  grid-column:1/2;
  grid-row: 3/4;
  margin-left: 90px;
  margin-top: 7px;
}
.square7 {
  position: absolute;
  display:inline-block ;
  width: 50px;
  height: 50px;
  background: #C4C4C4;
  grid-column:1/2;
  grid-row: 4/5;
  margin-left: 10px;
  margin-top: 10px;
}
.brokerage_text3 {
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 31px;
  font-weight: 400;
  grid-column:1/2;
  grid-row: 4/5;
  margin-left: 90px;
  margin-top: 22px;
}
.square8 {
  position: absolute;
  display:inline-block ;
  width: 70px;
  height: 70px;
  grid-column:1/2;
  grid-row: 5/6;
}
.brokerage_text4 {
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 31px;
  font-weight: 400;
  grid-column:1/2;
  grid-row: 5/6;
  margin-left: 90px;
  margin-top: 20px;
}