.onboarding {
  position: absolute;
  margin-top: 2193px;
  width: 1320px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns:530px 15px 730px;
  grid-template-columns:530px 730px;
  -ms-grid-rows: 100px 25px 70px 25px 70px 25px 70px 25px 70px;
  grid-template-rows: 100px repeat(4, 70px);
  grid-column-gap:15px;
  grid-row-gap: 25px;
}.onboarding > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.onboarding > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}.onboarding > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}.onboarding > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}.onboarding > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}.onboarding > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}.onboarding > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}.onboarding > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}.onboarding > *:nth-child(9) {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
}.onboarding > *:nth-child(10) {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
}
.onboarding_title {
  font-family: 'Muller-Bold';
  color: #000000;
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
  -ms-grid-column:1;
  -ms-grid-column-span:1;
  grid-column:1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin: 0;
}
.onboarding_img{
  width: 734px;
  height: 481px;
  -ms-grid-column:2;
  -ms-grid-column-span:1;
  grid-column:2/3;
  -ms-grid-row: 1;
  -ms-grid-row-span: 5;
  grid-row: 1/6;
}
.square1 {
  position: absolute;
  left: -21px;
  top: -4px;
  display:inline-block ;
  -ms-grid-column:1;
  -ms-grid-column-span:1;
  grid-column:1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-left: 0px;
  margin-top: 5px;
}
.onboarding_text1 {
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 400;
  -ms-grid-column:1;
  -ms-grid-column-span:1;
  grid-column:1/2;
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  grid-row: 2/3;
  margin-left: 75px;
  margin-top: 4px;
}
.square2 {
  position: absolute;
  display:inline-block ;
  left: -24px;
  top: -13px;
  -ms-grid-column:1;
  -ms-grid-column-span:1;
  grid-column:1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  margin-top: 15px;
  margin-left: 15px;
}
.onboarding_text2 {
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 400;
  -ms-grid-column:1;
  -ms-grid-column-span:1;
  grid-column:1/2;
  -ms-grid-row: 3;
  -ms-grid-row-span: 1;
  grid-row: 3/4;
  margin-left: 75px;
  margin-top: 4px;
}
.square3 {
  position: absolute;
  display:inline-block ;
  left: -18px;
  top: -7px;
  -ms-grid-column:1;
  -ms-grid-column-span:1;
  grid-column:1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  margin-top: 5px;
  margin-left: 11px;
}
.onboarding_text3 {
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 400;
  -ms-grid-column:1;
  -ms-grid-column-span:1;
  grid-column:1/2;
  -ms-grid-row: 4;
  -ms-grid-row-span: 1;
  grid-row: 4/5;
  margin-left: 75px;
  margin-top: 4px;
}
.square4 {
  position: absolute;
  display:inline-block ;
  left: -16px;
  top: -5px;
  -ms-grid-column:1;
  -ms-grid-column-span:1;
  grid-column:1/2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  margin-top: 5px;
  margin-left: 7px;
}
.onboarding_text4 {
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 400;
  -ms-grid-column:1;
  -ms-grid-column-span:1;
  grid-column:1/2;
  -ms-grid-row: 5;
  -ms-grid-row-span: 1;
  grid-row: 5/6;
  margin-left: 75px;
  margin-top: 4px;
}
.selection {
  position: absolute;
  margin-top: 2890px;
  width: 1320px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns:475px 100px 490px;
  grid-template-columns:475px 490px;
  -ms-grid-rows: 42px 20px 30px 20px 320px 20px 90px;
  grid-template-rows: 42px 30px 320px 90px;
  grid-column-gap: 100px;
  grid-row-gap: 20px;
}.selection > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.selection > *:nth-child(2) {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
}.selection > *:nth-child(3) {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}.selection > *:nth-child(4) {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
}.selection > *:nth-child(5) {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}.selection > *:nth-child(6) {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
}.selection > *:nth-child(7) {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
}.selection > *:nth-child(8) {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
}
.selection_title {
  font-family: 'Muller-Bold';
  color: #000000;
  font-size: 30px;
  line-height: 42px;
  font-weight: 700;
  -ms-grid-column:1;
  -ms-grid-column-span:1;
  grid-column:1/2;
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  grid-row: 1/2;
  margin: 0;
  width: 500px;
}
.selection_note {
  font-family: 'Muller-Bold';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 700;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row:2;
  -ms-grid-row-span:1;
  grid-row:2/3;
  margin: 0;
}
.Structured_note{
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row:3;
  -ms-grid-row-span:1;
  grid-row:3/4;
  width: 548px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns:212px 336px;
  grid-template-columns:212px 336px;
  -ms-grid-rows: 97px 81px 81px 97px 66px;
  grid-template-rows: 97px 81px 81px 97px 66px;
  border-top: 1px solid #808080;
}.Structured_note > *:nth-child(1){
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}.Structured_note > *:nth-child(2){
  -ms-grid-row: 1;
  -ms-grid-column: 2;
}.Structured_note > *:nth-child(3){
  -ms-grid-row: 2;
  -ms-grid-column: 1;
}.Structured_note > *:nth-child(4){
  -ms-grid-row: 2;
  -ms-grid-column: 2;
}.Structured_note > *:nth-child(5){
  -ms-grid-row: 3;
  -ms-grid-column: 1;
}.Structured_note > *:nth-child(6){
  -ms-grid-row: 3;
  -ms-grid-column: 2;
}.Structured_note > *:nth-child(7){
  -ms-grid-row: 4;
  -ms-grid-column: 1;
}.Structured_note > *:nth-child(8){
  -ms-grid-row: 4;
  -ms-grid-column: 2;
}.Structured_note > *:nth-child(9){
  -ms-grid-row: 5;
  -ms-grid-column: 1;
}.Structured_note > *:nth-child(10){
  -ms-grid-row: 5;
  -ms-grid-column: 2;
}
.selection_note_1, .selection_note_2, .selection_note_3, .selection_note_4, .selection_note_5{
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 25px;
  font-weight: 400;
  margin: 0;
}
.selection_note_6, .selection_note_7, .selection_note_8, .selection_note_9, .selection_note_10{
  font-family: 'Muller-Regular';
  color: #000000;
  font-size: 22px;
  line-height: 25px;
  font-weight: 400;
  margin: 0;
}
.selection_note_1{
  padding: 37px 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row:1;
  -ms-grid-row-span:1;
  grid-row:1/2;
}
.selection_note_2{
  padding: 29px 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row:2;
  -ms-grid-row-span:1;
  grid-row:2/3;
}
.selection_note_3{
  padding: 29px 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row:3;
  -ms-grid-row-span:1;
  grid-row:3/4;
}
.selection_note_4{
  padding: 37px 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row:4;
  -ms-grid-row-span:1;
  grid-row:4/5;
}
.selection_note_5{
  padding: 25px 0;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-column: 1/2;
  -ms-grid-row:5;
  -ms-grid-row-span:1;
  grid-row:5/6;
}
.selection_note_6{
  padding: 24px 0px 16px 25px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row:1;
  -ms-grid-row-span:1;
  grid-row:1/2;
}
.selection_note_7{
  padding: 30px 25px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row:2;
  -ms-grid-row-span:1;
  grid-row:2/3;
}
.selection_note_8{
  padding: 30px 25px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row:3;
  -ms-grid-row-span:1;
  grid-row:3/4;
}
.selection_note_9{
  padding: 24px 0px 16px 25px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row:4;
  -ms-grid-row-span:1;
  grid-row:4/5;
}
.selection_note_10{
  padding: 25px 25px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row:5;
  -ms-grid-row-span:1;
  grid-row:5/6;
}
.selection_account {
  font-family: 'Muller-Bold';
  color: #000000;
  font-size: 22px;
  line-height: 35px;
  font-weight: 700;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row:2;
  -ms-grid-row-span:1;
  grid-row:2/3;
  margin: 0;
  position: relative;
  left: 128px;
  width: 200px;
}
.item{
  border-right: 1px solid #808080;
  border-bottom:1px solid #808080;
}
.item2{
  border-bottom:1px solid #808080;
}
.item3{
  border-right: 1px solid #808080;
}
