@media (min-width: 770px) and (max-width: 822px) {
  .features_1, .features_2, .features_3, .features_4, .features_5 {
    margin-left: 0px !important;
    width: 336px !important;
  }
  .features, .infrastructure_title, .infrastructure_subtitle {
    margin-left: -2px !important;
  }
  .features_img_1, .features_img_2, .features_img_3, .features_img_4, .features_img_5 {
    margin-left: -7px !important;
  }
}
@media (min-width: 770px) and (max-width: 800px) {
  .contact_text {
    width: 296px !important;
  }
  .contact, #brokerage_and_Liquidity {
    padding-left: 127px !important;
  }
  .footer {
    padding-left: 89px !important;
  }
  #partners_Providers, .selection {
    padding-left: 117px !important;
  }
  .asset_subtitle {
    width: 500px !important;
  }
}

@media (min-width: 1000px) and (max-width: 1025px)  {
  .wrap_infr {
    position: relative;
    left: -33px !important;
  }
  #infrastructure_img {
    left: 130px !important;
  }
}
@media (min-width: 991px) and (max-width: 1024px) {
  #infrastructure_img {
    margin-left: -130px!important;
 }
 .wrap_code {
    left: 103px !important;
 }
}

@media (min-width: 990px) and (max-width: 1100px) {
  .wrap_code {
    left: 168px;
    height: 670px;
    width: 680px;
  }
  .wrap_code::before {
    content: '';
    position: absolute;
    display: block;
    width: 708px;
    height: -6px;
    z-index: 1;
    height: 100px;
    top: -94px;
    left: -744px;
    border-top: 148px solid transparent;
    border-left: 641px solid white;
    -webkit-transform: rotate(275deg);
        -ms-transform: rotate(275deg);
            transform: rotate(275deg);
  }
  .wrap_code::after {
    content: '';
    position: absolute;
    display: block;
    width: 722px;
    height: -6px;
    z-index: 1;
    height: 93px;
    top: -111px;
    left: -162px;
    border-bottom: 144px solid transparent;
    border-left: 948px solid white;
    -webkit-transform: rotate(361deg);
        -ms-transform: rotate(361deg);
            transform: rotate(361deg);
  }
}
@media (min-width: 1390px) and (max-width: 1482px) {
  .header {
    left: -63px !important;
  }
  .features, .features_1, .infrastructure_title, .infrastructure_subtitle, .features_2,
  .features_3, .features_4, .features_5 {
    width: 536px !important;
  }
}
@media (min-width: 1390px) and (max-width: 1540px) {
  .header {
    left: -63px !important;
  }
  body {
      -moz-transform: scale(0.9, 0.9); /* Moz-browsers */
      zoom: 0.8; /* Other non-webkit browsers */
      zoom: 80%; /* Webkit browsers */
  }
  .developer_requirements-button {
    text-decoration: none;
  }
}
@media (min-width: 1100px) and (max-width: 1390px) {
  .close {
    left: 338px !important;
  }
  .developer_requirements-button {
    text-decoration: none;
  }
  .hiddenMenu {
    display: -ms-grid;
    display: grid;
    position: relative;
    background: #FFFFFF;
    height: 277px;
    width: 558px;
    padding: 30px;
    font-size: 18px;
    left: 1400px;
  }
  .wrap_code {
    left: 115px;
    height: 670px;
    width: 680px;
  }
  .wrap_code::after {
    content: '';
    position: absolute;
    display: block;
    width: 722px;
    height: -6px;
    z-index: 1;
    height: 93px;
    top: -111px;
    left: -162px;
    border-bottom: 144px solid transparent;
    border-left: 948px solid white;
    -webkit-transform: rotate(361deg);
        -ms-transform: rotate(361deg);
            transform: rotate(361deg);
  }
  .wrap_code::before {
    content: '';
    position: absolute;
    display: block;
    width: 708px;
    height: -6px;
    z-index: 1;
    height: 100px;
    top: -94px;
    left: -744px;
    border-top: 148px solid transparent;
    border-left: 641px solid white;
    -webkit-transform: rotate(275deg);
        -ms-transform: rotate(275deg);
            transform: rotate(275deg);
  }
  .showHidden {
    position: absolute !important;
    left: 0px !important;
  }
}
@media (min-width: 770px) and (max-width: 1390px) {
  #mod1, #mod2, #mod3, #mod4, #mod5, #mod6 {
    width: 565px;
  }
  #buis, #buis2, #buis3, #buis4 {
    width: 627px;
  }
  #buis2 {
    opacity: 0;
  }
  #liq_detect {
    top: -70px;
  }
  #cont_detect {
    width: 100px;
    height: 100px;
    top: 2419px !important;
  }
  .trans_arr0 {
    top: -87px !important;
  }
  .developer_task-content {
    width: 550px;
  }
  .hide_block1 {
    height: 978px !important;
  }
  #arrow1 {
    top: -770px;
    left: 593px;
  }
  #brok_detect {
    top: 650px;
  }
  #part_detect {
    top: 1000px;
  }
  #cont_detect {
    position: absolute;
    top: 470px;
  }
  #asset_detect {
    top: -70px;
  }
  #linkedin {
    left: 65px;
    top: 517px;
  }
  #medium {
    left: 548px;
    top: -42px;
  }
  .careers_title {
    font-family: 'Muller-Bold';
    font-size: 40px;
    line-height: 64px;
    position: relative;
    left: 62px;
    top: 123px;
    width: 140px;
  }
  .careers_administration-title, .developer_title {
    font-size: 30px;
    line-height: 42px;
  }
  .careers_grid {
    grid-template-columns: 1fr;
    width: 800px;
  }
  .careers_administration {
    width: 688px;
    position: relative;
    left: 8px;
    top: 113px;
    height: 256px;
  }
  .change_buis {
    width: 420px !important;
  }
  .careers_developer {
    width: 688px;
    position: relative;
    left: 8px;
    top: 119px;
    height: 651px;
  }
  .com_arrow {
    left: 593px;
  }
  .header{
    width: 770px;
  }
  .terms_title, #priv {
    font-size: 35px;
  }
  #priv {
    position: relative;
    top: 30px;
  }
  .hiddenMenu {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 214px;
    grid-template-columns: 214px;
    -ms-grid-rows:26px 16px 26px 16px 26px 16px 26px 16px 26px 16px 29px 16px 29px 16px 29px 16px 29px 16px 29px 16px 50px 16px 29px;
    grid-template-rows:repeat(5,26px) repeat(5,29px) 50px 29px;
    grid-row-gap: 16px;
    position: absolute;
    background: #FFFFFF;
    height: 355px;
    width: 273px;
    padding: 17px 26px;
    font-size: 16px;
    left: -1000px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
    border: 1px solid #000000;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
  }  .hiddenMenu > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(6) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(7) {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(8) {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(9) {
    -ms-grid-row: 17;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(10) {
    -ms-grid-row: 19;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(11) {
    -ms-grid-row: 21;
    -ms-grid-column: 1;
  }  .hiddenMenu > *:nth-child(12) {
    -ms-grid-row: 23;
    -ms-grid-column: 1;
  }
  .wrap_onboarding {
    position: relative;
    left: 27px;
  }
  .wrap_infr {
    position: relative;
    left: -103px;
  }
  .showHidden {
    left: 0;
    z-index: 1;
  }
  #link11 {
    left: 0px !important;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  #link22 {
    left: 0px !important;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #link33 {
    left: 0px !important;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    z-index: -1000;
    opacity: 0;
  }
  #link44 {
    left: 0px !important;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    position: relative;
    top: -43px;
  }
  #link55 {
    left: 0px !important;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    position: relative;
    top: -43px;
  }
  #link66 {
    left: 0px !important;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    color: #808080;
  }
  #link77 {
    left: 0px !important;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    color: #808080;
  }
  #link88 {
    left: 0px !important;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
    color: #808080;
  }
  #link99 {
    left: 0px !important;
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9/10;
    color: #808080;
  }
  #link111 {
    left: 0px !important;
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: 10/11;
    color: #808080;
  }
  #link222 {
    top: -10px;
    left: 0px !important;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
    color: #808080;
  }
  .mobile_img1{
    left: 0px !important;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  #linkedin_mob {
    width: 36px;
    height: 36px;
    position: relative;
    top: 25px;
  }
  #media_mob {
    width: 53px;
    height: 53px;
    position: relative;
    left: 58px;
    top: -28px;
  }
  .mobile_img2{
    left: 0px !important;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
  }
  .mobile_header_link {
    color: #000000;
    font-family: 'Muller-Light';
    position: relative;
    left: 93px;
    height: 24px;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
  }
  .header_logo_name{
    width: 107px;
    height: 14px;
    position: relative;
    left: -244px;
    top: 69px;
  }
  .header {
    display: none;
  }
  .close {
    display: -ms-grid;
    display: grid;
    width: 50px;
    height: 41px;
    position: relative;
    left: 306px;
    top: 67px;
    cursor: pointer;
  }
  #close1, #close2, #close3 {
    width: 30px !important;
    height: 2px;
    z-index: 1000;
    position: relative;
    background: black;
  }
  #close1 {
      left: 21px;
      top: -14px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
    #close2 {
      left: 21px;
      top: -40px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
    #close3 {
      top: -66px;
      left: 21px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
    .rotate_close3 {
      top: -77px !important;
      left: 21px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
    .transform_close2 {
      opacity: 0;
    }
    .rotate_close1 {
      top: -9px !important;
      left: 21px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    .header_logo {
      position: relative;
      left: -315px;
      top: 52px;
    }
    .main{
      margin-top: 190px;
      width: 770px;
      -ms-grid-columns:354px 80px 270px;
      grid-template-columns:354px 270px;
      -ms-grid-rows: 200px 35px 60px;
      grid-template-rows: 200px 60px;
      grid-column-gap:80px;
    grid-row-gap: 35px;
    }
    .main > *:nth-child(1){
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    .main > *:nth-child(2){
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }
    .main > *:nth-child(3){
      -ms-grid-row: 3;
      -ms-grid-column: 1;
    }
    .main > *:nth-child(4){
      -ms-grid-row: 3;
      -ms-grid-column: 3;
    }
    .main_title{
      font-size: 33px;
      line-height: 52px;
    }
    .main_text{
      font-size: 16px;
      line-height: 26px;
      top: 7px;
  }
    .wrap_container{
      height: 660px;
    }
    .main_button1{
      border: 0.68px solid #E30D1A;
      width: 150px;
      height: 57px;
      font-size: 18px;
      line-height: 57px;
      position: relative;
      top: 57px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
    .main_button2{
      border: 0.68px solid #E30D1A;
      width: 150px;
      height: 57px;
      font-size: 18px;
      line-height: 57px;
      margin-left: 185px;
      position: relative;
      top: 57px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
    .main_button1:hover, .main_button2:hover, .asset_button:hover {
      background-color: #E30D1A;
      color: white;
    }
    .asset {
      margin-top: 100px;
      width: 770px;
      -ms-grid-columns:397px 420px;
      grid-template-columns:397px 420px;
      -ms-grid-rows: 40px 30px 90px 30px 70px 30px 150px 30px 64px 30px 150px 30px 64px 30px 150px 30px 64px;
      grid-template-rows: 40px 90px 70px 150px 64px 150px 64px 150px 64px ;
      grid-row-gap: 30px;
      z-index: 999;
    }    .asset > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }    .asset > *:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
    }    .asset > *:nth-child(3) {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
    }    .asset > *:nth-child(4) {
      -ms-grid-row: 3;
      -ms-grid-column: 2;
    }    .asset > *:nth-child(5) {
      -ms-grid-row: 5;
      -ms-grid-column: 1;
    }    .asset > *:nth-child(6) {
      -ms-grid-row: 5;
      -ms-grid-column: 2;
    }    .asset > *:nth-child(7) {
      -ms-grid-row: 7;
      -ms-grid-column: 1;
    }    .asset > *:nth-child(8) {
      -ms-grid-row: 7;
      -ms-grid-column: 2;
    }    .asset > *:nth-child(9) {
      -ms-grid-row: 9;
      -ms-grid-column: 1;
    }    .asset > *:nth-child(10) {
      -ms-grid-row: 9;
      -ms-grid-column: 2;
    }    .asset > *:nth-child(11) {
      -ms-grid-row: 11;
      -ms-grid-column: 1;
    }    .asset > *:nth-child(12) {
      -ms-grid-row: 11;
      -ms-grid-column: 2;
    }    .asset > *:nth-child(13) {
      -ms-grid-row: 13;
      -ms-grid-column: 1;
    }    .asset > *:nth-child(14) {
      -ms-grid-row: 13;
      -ms-grid-column: 2;
    }    .asset > *:nth-child(15) {
      -ms-grid-row: 15;
      -ms-grid-column: 1;
    }    .asset > *:nth-child(16) {
      -ms-grid-row: 15;
      -ms-grid-column: 2;
    }    .asset > *:nth-child(17) {
      -ms-grid-row: 17;
      -ms-grid-column: 1;
    }    .asset > *:nth-child(18) {
      -ms-grid-row: 17;
      -ms-grid-column: 2;
    }
    .asset_title {
      font-size: 40px;
      line-height: 56px;
    }
    .asset_subtitle {
      font-size: 18px;
      line-height: 29px;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1/3;
    }
    .asset_strategies {
      font-size: 22px;
      line-height: 31px;
      margin-top: 10px;
    }
    .asset_strategies_1{
      margin-top: 0px;
      margin-left: 0;
      font-size: 18px;
      line-height: 29px;
      -ms-grid-row: 5;
      -ms-grid-row-span: 1;
      grid-row: 5/6;
    }
    .asset_strategies_2{
      margin-top: 0px;
      margin-left: 0;
      font-size: 18px;
      line-height: 29px;
      -ms-grid-row: 7;
      -ms-grid-row-span: 1;
      grid-row: 7/8;
    }
    .asset_strategies_3{
      margin-top: 0px;
      margin-left: 0;
      font-size: 18px;
      line-height: 29px;
      -ms-grid-row: 9;
      -ms-grid-row-span: 1;
      grid-row: 9/10;
    }
    .rectangle4{
      -ms-grid-row: 4;
      -ms-grid-row-span: 4;
      grid-row: 4/8;
      width: 400px;
      height: 710px;
      display: none;
    }
    .rectangle2{
      margin-top: 0;
       -ms-grid-row: 6;
       -ms-grid-row-span: 1;
       grid-row: 6/7;
     }
     .rectangle3{
       margin-top: 0px;
       -ms-grid-row: 8;
       -ms-grid-row-span: 1;
       grid-row: 8/9;
     }
    #downstr1 {
      top: 737px;
      left: 665px;
    }
    #downstr2 {
      top: 563px;
      left: 270px;
    }
    #downstr3 {
      top: 475px;
      left: 270px;
    }
    .asset_button{
      border: 0.66px solid #E30D1A;
      width: 210px;
      height: 57px;
      font-size: 18px;
      line-height: 57px;
      margin-top: 30px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
    .infrastructure{
       display: -ms-grid;
       display: grid;
       -webkit-box-pack: center;
           -ms-flex-pack: center;
               justify-content: center;
       margin-top: 965px;
       width: 770px;
       -ms-grid-columns:350px 50px 320px;
       grid-template-columns:350px 320px;
       -ms-grid-rows: 689px 20px 68px 20px 140px 20px 75px 20px 138px 20px 138px 20px 170px;
       grid-template-rows: 689px 68px 140px 75px 138px 138px 170px;
       grid-column-gap:50px;
       grid-row-gap: 20px;
     }  .infrastructure > *:nth-child(1){
       -ms-grid-row: 1;
       -ms-grid-column: 1;
     }  .infrastructure > *:nth-child(2){
       -ms-grid-row: 1;
       -ms-grid-column: 3;
     }  .infrastructure > *:nth-child(3){
       -ms-grid-row: 3;
       -ms-grid-column: 1;
     }  .infrastructure > *:nth-child(4){
       -ms-grid-row: 3;
       -ms-grid-column: 3;
     }  .infrastructure > *:nth-child(5){
       -ms-grid-row: 5;
       -ms-grid-column: 1;
     }  .infrastructure > *:nth-child(6){
       -ms-grid-row: 5;
       -ms-grid-column: 3;
     }  .infrastructure > *:nth-child(7){
       -ms-grid-row: 7;
       -ms-grid-column: 1;
     }  .infrastructure > *:nth-child(8){
       -ms-grid-row: 7;
       -ms-grid-column: 3;
     }  .infrastructure > *:nth-child(9){
       -ms-grid-row: 9;
       -ms-grid-column: 1;
     }  .infrastructure > *:nth-child(10){
       -ms-grid-row: 9;
       -ms-grid-column: 3;
     }  .infrastructure > *:nth-child(11){
       -ms-grid-row: 11;
       -ms-grid-column: 1;
     }  .infrastructure > *:nth-child(12){
       -ms-grid-row: 11;
       -ms-grid-column: 3;
     }  .infrastructure > *:nth-child(13){
       -ms-grid-row: 13;
       -ms-grid-column: 1;
     }  .infrastructure > *:nth-child(14){
       -ms-grid-row: 13;
       -ms-grid-column: 3;
     }
     #infrastructure_img{
       top: -100px;
       -ms-grid-column:1;
       -ms-grid-column-span:2;
       grid-column:1/3;
       -ms-grid-row: 1;
       -ms-grid-row-span: 1;
       grid-row: 1/2;
       width: 100%;
     }
     .infrastructure_title{
       font-size: 30px;
       line-height: 48px;
       -ms-grid-column:1;
       -ms-grid-column-span:2;
       grid-column:1/3;
       -ms-grid-row: 2;
       -ms-grid-row-span: 1;
       grid-row: 2/3;
       margin-top: 40px;
       color: #181818;
       width: 536px;
     }
     .infrastructure_subtitle{
       font-size: 20px;
       line-height: 32px;
       -ms-grid-column:1;
       -ms-grid-column-span:2;
       grid-column:1/3;
       -ms-grid-row: 3;
       -ms-grid-row-span: 1;
       grid-row: 3/4;
       color: #595959;
     }
  .br_1{
    display: none;
  }
  .br_2{
    display: inline-block;
  }
  .br_3{
    display: none;
  }
  .br_4{
    display: inline-block;
  }
  .br_5{
    display: inline-block;
  }
  .features{
    font-size: 22px;
    line-height: 35px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    padding-top: 20px;
    color: #181818;
    width: 529px;
  }
  .features_img_1{
    width: 62px;
    height: 62px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .features_1{
    font-size: 20px;
    line-height: 32px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    margin-left: 107px !important;
    margin-top: 70px;
    color: #595959;
    width: 529px;
  }
  .features_img_3{
    width: 62px;
    height: 62px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    margin-left: -5px;
  }
  .features_3{
    font-size: 20px;
    line-height: 32px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    margin-left: 107px !important;
    margin-top: 70px;
    color: #595959;
    width: 529px;
  }
  .features_img_5{
    width: 62px;
    height: 63px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    margin-left: -10px;
  }
  .features_5{
    font-size: 20px;
    line-height: 32px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    margin-left: 107px !important;
    margin-top: 70px;
    color: #595959;
    width: 529px;
  }
  .features_img_2{
    width: 62px;
    height: 62px;
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .features_2{
    font-size: 20px;
    line-height: 32px;
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    margin-left: 107px !important;
    margin-top: 70px;
    color: #595959;
    width: 320px;
  }
  .features_img_4{
    width: 62px;
    height: 62px;
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    margin-left: -5px;
  }
  .features_4{
    font-size: 20px;
    line-height: 32px;
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    margin-left: 107px !important;
    margin-top: 70px;
    color: #595959;
    width: 320px;
  }
  .onboarding {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 2730px;
    width: 770px;
    -ms-grid-columns:335px 40px 330px;
    grid-template-columns:335px 330px;
    -ms-grid-rows: 481px 40px 100px 40px 178px 40px 178px;
    grid-template-rows: 481px 100px 178px 178px;
    grid-column-gap:40px;
    grid-row-gap: 40px;
  }.onboarding > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }.onboarding > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }.onboarding > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }.onboarding > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }.onboarding > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }.onboarding > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }.onboarding > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }.onboarding > *:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .onboarding_title {
    font-size: 30px;
    line-height: 42px;
    -ms-grid-column:1;
    -ms-grid-column-span:2;
    grid-column:1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-top: 20px;
    color: #181818;
  }
  .onboarding_img{
    width: 696px;
    height: 481px;
    -ms-grid-column:1;
    -ms-grid-column-span:2;
    grid-column:1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .square1 {
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .onboarding_text1 {
    font-size: 20px;
    line-height: 32px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-left: 0;
    margin-top: 82px;
    color: #595959;
  }
  .square3 {
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    left: -22px;
  }
  .onboarding_text3 {
    font-size: 20px;
    line-height: 32px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    margin-left: 0;
    margin-top: 82px;
    color: #595959;
  }
  .square2 {
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    left: -34px;
  }
  .onboarding_text2 {
    font-size: 20px;
    line-height: 32px;
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-left: 0;
    margin-top: 82px;
    color: #595959;
  }
  .square4 {
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .onboarding_text4 {
    font-size: 20px;
    line-height: 32px;
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    margin-left: 0;
    margin-top: 82px;
    color: #595959;
  }
  .selection {
    margin-top: 4000px;
    width: 770px;
    -ms-grid-columns: 407px 0px 280px;
    grid-template-columns: 407px 280px;
    -ms-grid-rows: 42px 20px 32px 20px 320px 20px 93px;
    grid-template-rows: 42px 32px 320px 93px;
    grid-row-gap: 20px;
    grid-column-gap: 0px;
    padding-left: 62px;
  }  .selection > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }  .selection > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }  .selection > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }  .selection > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }  .selection > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }  .selection > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }  .selection > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }  .selection > *:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .Structured_note{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row:3;
    -ms-grid-row-span:1;
    grid-row:3/4;
    width: 407px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns:150px 224px;
    grid-template-columns:150px 224px;
    -ms-grid-rows: 86px 46px 72px 64px 55px;
    grid-template-rows: 86px 46px 72px 64px 55px;
    border-top: 1px solid #808080;
  }  .Structured_note > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }  .Structured_note > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 2;
  }  .Structured_note > *:nth-child(3){
    -ms-grid-row: 2;
    -ms-grid-column: 1;
  }  .Structured_note > *:nth-child(4){
    -ms-grid-row: 2;
    -ms-grid-column: 2;
  }  .Structured_note > *:nth-child(5){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }  .Structured_note > *:nth-child(6){
    -ms-grid-row: 3;
    -ms-grid-column: 2;
  }  .Structured_note > *:nth-child(7){
    -ms-grid-row: 4;
    -ms-grid-column: 1;
  }  .Structured_note > *:nth-child(8){
    -ms-grid-row: 4;
    -ms-grid-column: 2;
  }  .Structured_note > *:nth-child(9){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }  .Structured_note > *:nth-child(10){
    -ms-grid-row: 5;
    -ms-grid-column: 2;
  }
    .Managed_account{
      -ms-grid-column: 2;
      -ms-grid-column-span: 1;
      grid-column: 2/3;
      -ms-grid-row:3;
      -ms-grid-row-span:1;
      grid-row:3/4;
      width: 280px;
      left: 0;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns:280px;
      grid-template-columns:280px;
      -ms-grid-rows: 86px 46px 72px 64px 55px;
      grid-template-rows: 86px 46px 72px 64px 55px;
      border-top: 1px solid #808080;
    }  .Managed_account > *:nth-child(1){
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }  .Managed_account > *:nth-child(2){
      -ms-grid-row: 2;
      -ms-grid-column: 1;
    }  .Managed_account > *:nth-child(3){
      -ms-grid-row: 3;
      -ms-grid-column: 1;
    }  .Managed_account > *:nth-child(4){
      -ms-grid-row: 4;
      -ms-grid-column: 1;
    }  .Managed_account > *:nth-child(5){
      -ms-grid-row: 5;
      -ms-grid-column: 1;
    }
  .selection_account_1, .selection_account_2, .selection_account_3, .selection_account_4, .selection_account_5{
    display: none;
  }
  .selection_title {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .selection_note, .selection_account{
    font-size: 20px;
    line-height: 32px;
  }
  .selection_note{
    margin-left: 163px;
  }
  .selection_account{
    margin-left: 20px;
    left: 0;
  }
  .selection_note_1, .selection_note_2, .selection_note_3, .selection_note_4, .selection_note_5{
    font-size: 16px;
    line-height: 26px;
  }
  .selection_note_6, .selection_note_7, .selection_note_8, .selection_note_9, .selection_note_10{
    font-size: 16px;
    line-height: 23px;
  }
  .selection_account_6, .selection_account_7, .selection_account_8, .selection_account_9, .selection_account_10{
    font-size: 16px;
    line-height: 23px;
  }
  .selection_note_1{
    padding: 30px 0;
  }
  .selection_note_2{
    padding: 10px 0;
  }
  .selection_note_3{
    padding: 23px 0;
  }
  .selection_note_4{
    padding: 19px 0;
  }
  .selection_note_5{
    padding: 10px 0;
  }
  .selection_note_6{
    padding: 10px 94px 10px 14px;
    width: 148px;
  }
  .selection_note_7{
    padding: 10px 148px 10px 14px;
    width: 94px;
  }
  .selection_note_8{
    padding: 10px 136px 10px 14px;
    width: 106px;
  }
  .selection_note_9{
    padding: 10px 57px 9px 14px;
    width: 185px;
  }
  .selection_note_10{
    padding: 10px 150px 10px 14px;
    width: 92px;
    border-right:1px solid #808080;
  }
  .item2{
    border-right:1px solid #808080;
  }
  .selection_account_6{
    padding: 21px 22px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row:1;
    -ms-grid-row-span:1;
    grid-row:1/2;
    border-right:none;
  }
  .selection_account_7{
    padding: 10px 0px 10px 22px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row:2;
    -ms-grid-row-span:1;
    grid-row:2/3;
    width: 257px;
    border-right:none;
  }
  .selection_account_8{
    padding: 23px 22px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row:3;
    -ms-grid-row-span:1;
    grid-row:3/4;
    border-right:none;
  }
  .selection_account_9{
    padding: 10px 22px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row:4;
    -ms-grid-row-span:1;
    grid-row:4/5;
    border-right:none;
  }
  .selection_account_10{
    padding: 10px 22px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row:5;
    -ms-grid-row-span:1;
    grid-row:5/6;
  }
  .selection_button{
    top: 0;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    margin-top: 10px;
    font-size: 20px;
  }
  #brokerage_and_Liquidity{
    padding-left: 62px;
    margin-top: 4661px;
    width: 770px;
    -ms-grid-columns: 300px 60px 330px;
    grid-template-columns: 300px 330px;
    -ms-grid-rows: 65px 35px 140px 35px 55px 35px 55px 35px 55px 35px 75px 35px 360px;
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 35px;
    height: 740px;
  }  #brokerage_and_Liquidity > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }  #brokerage_and_Liquidity > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }  #brokerage_and_Liquidity > *:nth-child(3){
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1 / 3;
  }  #brokerage_and_Liquidity > *:nth-child(4){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }  #brokerage_and_Liquidity > *:nth-child(5){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }  #brokerage_and_Liquidity > *:nth-child(6){
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }  #brokerage_and_Liquidity > *:nth-child(7){
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }  #brokerage_and_Liquidity > *:nth-child(8){
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }  #brokerage_and_Liquidity > *:nth-child(9){
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }  #brokerage_and_Liquidity > *:nth-child(10){
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }  #brokerage_and_Liquidity > *:nth-child(11){
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }  #brokerage_and_Liquidity > *:nth-child(12){
    -ms-grid-row: 11;
    -ms-grid-column: 3;
  }  #brokerage_and_Liquidity > *:nth-child(13){
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }  #brokerage_and_Liquidity > *:nth-child(14){
    -ms-grid-row: 13;
    -ms-grid-column: 3;
  }
  .brokerage_title{
    font-size: 40px;
    line-height: 64px;
    color: #181818;
    top: 10px;
    position: relative;
  }
  .liquidity_title{
    font-size: 40px;
    line-height: 64px;
    color: #181818;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .liquidity_subtitle{
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .square5 {
    width: 52px;
    height: 52px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .brokerage_text1 {
    font-size: 18px;
    line-height: 25px;
    margin-left: 74px;
    color: #595959;
    margin-top: 2px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-left: 75px;
  }
  .square6 {
    width: 52px;
    height: 52px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .brokerage_text2 {
    font-size: 18px;
    line-height: 25px;
    margin-left: 75px;
    color: #595959;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .square7 {
    width: 30px;
    margin-left: 6px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    top: -8px;
  }
  .brokerage_text3 {
    font-size: 18px;
    line-height: 25px;
    margin-left: 64px;
    color: #595959;
    margin-top: 0px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .square8 {
    left: 0px;
    width: 52px;
    height: 52px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    margin-left: 0;
  }
  .brokerage_text4 {
    font-size: 18px;
    line-height: 25px;
    margin-left: 64px;
    color: #595959;
    margin-top: 2px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .trading{
    margin-top: 5750px;
    padding-left: 62px;
    width: 770px;
    -ms-grid-columns:300px 80px 300px;
    grid-template-columns:300px 300px;
    grid-column-gap:80px;
  }
  .trading_img1{
    width: 300px;
    height: 158px;
    margin-top: 0px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    display: none;
  }
  .trading_img2{
    width: 280px;
  height: 210px;
  margin-top: 0px;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-column: 2/3;
  -ms-grid-row: 7;
  -ms-grid-row-span: 1;
  grid-row: 7/8;
  display: none;
  }
  .trading_img3{
    width: 690px;
    height: 327px;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
    display: block;
    margin-top: -65px;
  }
  .trading_img4{
    display: none;
  }
  .square9 {
    width: 52px;
    height: 52px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    margin-top: 0;
  }
  .liquidity_text1 {
    font-size: 18px;
    line-height: 25px;
    margin-left: 74px;
    color: #595959;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    margin-top: 0;
  }
  .square10 {
    width: 52px;
    height: 52px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row:4;
    -ms-grid-row-span:1;
    grid-row:4/5;
    margin-top: 0;
  }
  .liquidity_text2 {
    font-size: 18px;
    line-height: 25px;
    margin-left: 74px;
    color: #595959;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row:4;
    -ms-grid-row-span:1;
    grid-row:4/5;
    margin-top: 0;
  }
  .square11 {
    width: 52px;
    height: 52px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row:5;
    -ms-grid-row-span:1;
    grid-row:5/6;
    margin-top: 0;
    margin-left: 0;
  }
  .liquidity_text3 {
    font-size: 18px;
    line-height: 25px;
    margin-left: 74px;
    color: #595959;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row:5;
    -ms-grid-row-span:1;
    grid-row:5/6;
    margin-top: 0;
  }
  .square12 {
    width: 52px;
    height: 52px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row:3;
    -ms-grid-row-span:1;
    grid-row:3/4;
    margin-left: 0;
    margin-top: 0;
  }
  .liquidity_text4 {
    font-size: 18px;
    line-height: 25px;
    margin-left: 74px;
    color: #595959;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-top: 0;
  }
  #partners_Providers{
    margin-top: 5208px;
    padding-left: 62px;
    width: 770px;
    -ms-grid-columns:210px 30px 210px 30px 210px;
    grid-template-columns:repeat(3, 210px);
    -ms-grid-rows: 64px 30px 126px 30px 126px;
    grid-template-rows: 64px 126px 126px;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }
  #partners_Providers > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #partners_Providers > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  #partners_Providers > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  #partners_Providers > *:nth-child(4){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  #partners_Providers > *:nth-child(5){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  #partners_Providers > *:nth-child(6){
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  #partners_Providers > *:nth-child(7){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  #partners_Providers > *:nth-child(8){
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  #partners_Providers > *:nth-child(9){
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  .wrap_sponsor {
    width: 161px;
    height: 77px;
  }
  .partners_img1{
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .partners_img2{
    width: 100%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .partners_img3{
    width: 100%;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .partners_img4{
    width: 100%;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .partners_img5{
    width: 100%;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .partners_img6{
    width: 100%;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .partners_title{
    color: #181818;
    font-size: 40px;
    line-height: 64px;
  }
  .partners_img{
    width: 760px;
    height: 350px;
    margin-left: -10px;
  }
  .contact{
    margin-top: 110px;
    width: 770px;
    -ms-grid-columns:690px;
    grid-template-columns:690px;
    -ms-grid-rows: 70px 16px 84px 16px 84px 16px 84px 16px 286px 16px 83px 16px 31px;
    grid-template-rows: 70px repeat(3, 84px) 286px 83px 31px;
    grid-row-gap: 16px;
    padding-left: 62px;
  }
  .contact > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .contact > *:nth-child(2){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .contact > *:nth-child(3){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .contact > *:nth-child(4){
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .contact > *:nth-child(5){
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .contact > *:nth-child(6){
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  .contact > *:nth-child(7){
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }
  .contact_title{
    color: #181818;
    font-size: 40px;
    line-height: 64px;
    height: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
    -ms-flex-align: end;
    align-items: flex-end;
    position: relative;
    top: -30px;
  }
  .name_input{
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    width: 690px;
    height: 84px;
  }
  .mail_input{
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    width: 690px;
    height: 84px;
  }
  .phone_input{
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    width: 690px;
    height: 84px;
  }
  .text_input{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    width: 690px;
    height: 286px;
  }
  .contact_button{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    width: 330px;
    height: 83px;
  }
  .contact_text{
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    margin-left: 380px;
  }
  .contact_text2{
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    margin-top: 30px;
  }
  .footer {
    margin-top: 800px;
    margin-bottom: 455px;
    padding-left: 0px;
    width: 770px;
    height: 650px;
    -ms-grid-columns: 320px 100px 350px;
    grid-template-columns: 320px 350px;
    -ms-grid-rows: 130px 30px 30px 30px 30px 30px 30px 30px 30px 30px 80px 30px 60px;
    grid-template-rows: 130px repeat(4, 30px) 80px 60px;
    grid-column-gap:100px;
    grid-row-gap: 30px;
  }  .footer > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }  .footer > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }  .footer > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }  .footer > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }  .footer > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }  .footer > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }  .footer > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }  .footer > *:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }  .footer > *:nth-child(9) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }  .footer > *:nth-child(10) {
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }  .footer > *:nth-child(11) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }  .footer > *:nth-child(12) {
    -ms-grid-row: 11;
    -ms-grid-column: 3;
  }  .footer > *:nth-child(13) {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }  .footer > *:nth-child(14) {
    -ms-grid-row: 13;
    -ms-grid-column: 3;
  }
  .footer_logo_name {
    margin-left: 120px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row:1;
    -ms-grid-row-span:1;
    grid-row:1/2;
    margin-top: 55px;
  }
  .special_links {
    opacity: 0.5;
    border-bottom: 0.5px solid rgba(0, 0, 0, 0.5);
  }
  #link6{
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row:2;
    -ms-grid-row-span:1;
    grid-row:2/3;
    margin-top: 0px;
    margin-left: 70px;
  }
  #link7{
    -ms-grid-row:3;
    -ms-grid-row-span:1;
    grid-row:3/4;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    margin-top: 0px;
    margin-left: 70px;
  }
  #link8{
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row:4;
    -ms-grid-row-span:1;
    grid-row:4/5;
    margin-left: 70px;
    margin-top: 0px;
  }
  #link9{
    -ms-grid-row: 3;
    -ms-grid-row-span: 3;
    grid-row: 3/6;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
   margin-top: 0px;
   margin-left: 70px;
  }
  #link10{
    -ms-grid-row: 4;
    -ms-grid-row-span: 3;
    grid-row: 4/7;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    margin-top: -50px;
    margin-left: 70px;
  }
  #link16{
    -ms-grid-row:2;
    -ms-grid-row-span:1;
    grid-row:2/3;
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    margin-top: 0px;
    margin-left: 0px;
  }
  #link17 {
    grid-row: 6 / 7;
    -ms-grid-column: 4;
    -ms-grid-column-span: 1;
    grid-column: 2 / 3;
    width: 114px;
    position: relative;
    top: 37px;
  }
  #link12{
    -ms-grid-row:3;
    -ms-grid-row-span:1;
    grid-row:3/4;
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    margin-top: 0px;
    margin-left: 0px;
  }
  #link13{
    -ms-grid-row:4;
    -ms-grid-row-span:1;
    grid-row:4/5;
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    margin-top: 0px;
    margin-left: 0px;
  }
  #link14{
    -ms-grid-row:5;
    -ms-grid-row-span:1;
    grid-row:5/6;
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    margin-top: 0px;
    margin-left: 0px;
  }
  #link15{
    -ms-grid-row:6;
    -ms-grid-row-span:1;
    grid-row:6/7;
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    margin-top: -50px;
    margin-left: 0px;
  }
  .footer_logo {
    margin-left: 65px;
  }
  .footer_address{
    -ms-grid-row:7;
    -ms-grid-row-span:1;
    grid-row:7/8 ;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    margin-top: 115px;
    margin-left: 70px;
  }
  .footer_mail{
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    margin-top: 84px;
    margin-left:215px;
  }
  .footer_img1{
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
  }
  .footer_img2{
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
  }
}
