@media (min-width: 770px) and (max-width: 822px) {
  .features_1, .features_2, .features_3, .features_4, .features_5 {
    margin-left: 0px !important;
    width: 336px !important;
  }
  .features, .infrastructure_title, .infrastructure_subtitle {
    margin-left: -2px !important;
  }
  .features_img_1, .features_img_2, .features_img_3, .features_img_4, .features_img_5 {
    margin-left: -7px !important;
  }
}
@media (min-width: 770px) and (max-width: 800px) {
  .contact_text {
    width: 296px !important;
  }
  .contact, #Brokerage_and_Liquidity {
    padding-left: 127px !important;
  }
  .footer {
    padding-left: 89px !important;
  }
  #Partners_Providers, .selection {
    padding-left: 117px !important;
  }
  .asset_subtitle {
    width: 500px !important;
  }
}

@media (min-width: 1000px) and (max-width: 1025px)  {
  .wrap_infr {
    position: relative;
    left: -33px !important;
  }
  #infrastructure_img {
    left: 130px !important;
  }
}
@media (min-width: 991px) and (max-width: 1024px) {
  #infrastructure_img {
    margin-left: -130px!important;
 }
 .wrap_code {
    left: 103px !important;
 }
}

@media (min-width: 990px) and (max-width: 1100px) {
  .wrap_code {
    left: 168px;
    height: 670px;
    width: 680px;
  }
  .wrap_code::before {
    content: '';
    position: absolute;
    display: block;
    width: 708px;
    height: -6px;
    z-index: 1;
    height: 100px;
    top: -94px;
    left: -744px;
    border-top: 148px solid transparent;
    border-left: 641px solid white;
    -webkit-transform: rotate(275deg);
        -ms-transform: rotate(275deg);
            transform: rotate(275deg);
  }
  .wrap_code::after {
    content: '';
    position: absolute;
    display: block;
    width: 722px;
    height: -6px;
    z-index: 1;
    height: 93px;
    top: -111px;
    left: -162px;
    border-bottom: 144px solid transparent;
    border-left: 948px solid white;
    -webkit-transform: rotate(361deg);
        -ms-transform: rotate(361deg);
            transform: rotate(361deg);
  }
}
@media (min-width: 1390px) and (max-width: 1482px) {
  .header {
    left: -63px !important;
  }
  .features, .features_1, .infrastructure_title, .infrastructure_subtitle, .features_2,
  .features_3, .features_4, .features_5 {
    width: 536px !important;
  }
  .rectangle4 {
    width: 606px !important;
  }
}
@media (min-width: 1390px) and (max-width: 1540px) {
  .header {
    left: -63px !important;
  }
}
@media (min-width: 1100px) and (max-width: 1390px) {
  .close {
    left: 338px !important;
  }
  .hiddenMenu {
    display: -ms-grid;
    display: grid;
    position: relative;
    background: #d8d8d8;
    height: 300px;
    width: 300px;
    padding: 30px;
    font-size: 18px;
    left: 1400px;
  }
  .wrap_code {
    left: 115px;
    height: 670px;
    width: 680px;
  }
  .wrap_code::after {
    content: '';
    position: absolute;
    display: block;
    width: 722px;
    height: -6px;
    z-index: 1;
    height: 93px;
    top: -111px;
    left: -162px;
    border-bottom: 144px solid transparent;
    border-left: 948px solid white;
    -webkit-transform: rotate(361deg);
        -ms-transform: rotate(361deg);
            transform: rotate(361deg);
  }
  .wrap_code::before {
    content: '';
    position: absolute;
    display: block;
    width: 708px;
    height: -6px;
    z-index: 1;
    height: 100px;
    top: -94px;
    left: -744px;
    border-top: 148px solid transparent;
    border-left: 641px solid white;
    -webkit-transform: rotate(275deg);
        -ms-transform: rotate(275deg);
            transform: rotate(275deg);
  }
  .showHidden {
    position: absolute !important;
    left: 0px !important;
  }
}
@media (min-width: 770px) and (max-width: 1390px) {
  .header{
    width: 770px;
  }
  .hiddenMenu {
    display: -ms-grid;
    display: grid;
    position: absolute;
    background: #d8d8d8;
    height: 270px;
    width: 273px;
    padding: 30px;
    font-size: 18px;
    left: -1000px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
  }
  .wrap_onboarding {
    position: relative;
    left: 27px;
  }
  .wrap_infr {
    position: relative;
    left: -103px;
  }
  .showHidden {
    left: 0;
    z-index: 1;
  }
  #link11 {
    left: 0px !important;
  }
  #link22 {
    left: 0px !important;
  }
  #link33 {
    left: 0px !important;
  }
  #link44 {
    left: 0px !important;
  }
  #link55 {
    left: 0px !important;
  }
  .mobile_header_link {
    color: #000000;
    font-family: 'Muller-Light';
    position: relative;
    left: 93px;
    height: 24px;
    font-size: 16px;
    font-weight: 300;
    line-height: 25px;
  }
  .header_logo_name{
    width: 107px;
    height: 14px;
    position: relative;
    left: -244px;
    top: 69px;
  }
  .header {
    display: none;
  }
  .close {
    display: -ms-grid;
    display: grid;
    width: 50px;
    height: 41px;
    position: relative;
    left: 306px;
    top: 67px;
    cursor: pointer;
  }
  #close1, #close2, #close3 {
    width: 30px !important;
    height: 2px;
    z-index: 1000;
    position: relative;
    background: black;
  }
  #close1 {
      left: 21px;
      top: -14px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
    #close2 {
      left: 21px;
      top: -40px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
    #close3 {
      top: -66px;
      left: 21px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
    .rotate_close3 {
      top: -77px !important;
      left: 21px;
      -webkit-transform: rotate(-45deg);
          -ms-transform: rotate(-45deg);
              transform: rotate(-45deg);
    }
    .transform_close2 {
      opacity: 0;
    }
    .rotate_close1 {
      top: -9px !important;
      left: 21px;
      -webkit-transform: rotate(45deg);
          -ms-transform: rotate(45deg);
              transform: rotate(45deg);
    }
    .header_logo {
      position: relative;
      left: -315px;
      top: 52px;
    }
    .main{
      margin-top: 190px;
      width: 770px;
      -ms-grid-columns:354px 80px 270px;
      grid-template-columns:354px 270px;
      -ms-grid-rows: 200px 35px 60px;
      grid-template-rows: 200px 60px;
      grid-column-gap:80px;
    grid-row-gap: 35px;
    }
    .main > *:nth-child(1){
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    .main > *:nth-child(2){
      -ms-grid-row: 1;
      -ms-grid-column: 3;
    }
    .main > *:nth-child(3){
      -ms-grid-row: 3;
      -ms-grid-column: 1;
    }
    .main > *:nth-child(4){
      -ms-grid-row: 3;
      -ms-grid-column: 3;
    }
    .main_title{
      font-size: 33px;
      line-height: 52px;
    }
    .main_text{
      font-size: 16px;
      line-height: 26px;
  }
    .wrap_container{
      height: 660px;
      overflow-x: hidden;
    }
    .main_button1{
      border: 0.68px solid #E30D1A;
      width: 150px;
      height: 57px;
      font-size: 18px;
      line-height: 57px;
      position: relative;
      top: 57px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
    .main_button2{
      border: 0.68px solid #E30D1A;
      width: 150px;
      height: 57px;
      font-size: 18px;
      line-height: 57px;
      margin-left: 185px;
      position: relative;
      top: 57px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
    .main_button1:hover, .main_button2:hover, .asset_button:hover {
      background-color: #E30D1A;
      color: white;
    }
    .asset {
      margin-top: 100px;
      width: 770px;
      -ms-grid-columns:397px 420px;
      grid-template-columns:397px 420px;
      -ms-grid-rows: 40px 30px 90px 30px 70px 30px 150px 30px 170px 30px 180px 30px 93px;
      grid-template-rows: 40px 90px 70px 150px 170px 180px 93px;
      grid-row-gap: 30px;
    }
    .asset > *:nth-child(1) {
      -ms-grid-row: 1;
      -ms-grid-column: 1;
    }
    .asset > *:nth-child(2) {
      -ms-grid-row: 1;
      -ms-grid-column: 2;
    }
    .asset > *:nth-child(3) {
      -ms-grid-row: 3;
      -ms-grid-column: 1;
    }
    .asset > *:nth-child(4) {
      -ms-grid-row: 3;
      -ms-grid-column: 2;
    }
    .asset > *:nth-child(5) {
      -ms-grid-row: 5;
      -ms-grid-column: 1;
    }
    .asset > *:nth-child(6) {
      -ms-grid-row: 5;
      -ms-grid-column: 2;
    }
    .asset > *:nth-child(7) {
      -ms-grid-row: 7;
      -ms-grid-column: 1;
    }
    .asset > *:nth-child(8) {
      -ms-grid-row: 7;
      -ms-grid-column: 2;
    }
    .asset > *:nth-child(9) {
      -ms-grid-row: 9;
      -ms-grid-column: 1;
    }
    .asset > *:nth-child(10) {
      -ms-grid-row: 9;
      -ms-grid-column: 2;
    }
    .asset > *:nth-child(11) {
      -ms-grid-row: 11;
      -ms-grid-column: 1;
    }
    .asset > *:nth-child(12) {
      -ms-grid-row: 11;
      -ms-grid-column: 2;
    }
    .asset > *:nth-child(13) {
      -ms-grid-row: 13;
      -ms-grid-column: 1;
    }
    .asset > *:nth-child(14) {
      -ms-grid-row: 13;
      -ms-grid-column: 2;
    }
    .asset_title {
      font-size: 40px;
      line-height: 56px;
    }
    .asset_subtitle {
      font-size: 18px;
      line-height: 29px;
      -ms-grid-column: 1;
      -ms-grid-column-span: 2;
      grid-column: 1/3;
    }
    .asset_strategies {
      font-size: 22px;
      line-height: 31px;
      margin-top: 10px;
    }
    .asset_strategies_1{
      margin-top: 80px;
      margin-left: 0;
      font-size: 18px;
      line-height: 29px;
    }
    .asset_strategies_2{
      margin-top: 80px;
      margin-left: 0;
      font-size: 18px;
      line-height: 29px;
    }
    .asset_strategies_3{
      margin-top: 100px;
      margin-left: 0;
      font-size: 18px;
      line-height: 29px;
    }
    .rectangle4{
      -ms-grid-row: 4;
      -ms-grid-row-span: 4;
      grid-row: 4/8;
      width: 400px;
      height: 710px;
    }
    .rectangle3{
      margin-top: 28px;
    }
    .asset_button{
      border: 0.66px solid #E30D1A;
      width: 210px;
      height: 57px;
      font-size: 18px;
      line-height: 57px;
      margin-top: 30px;
      -webkit-transition: 0.2s;
      -o-transition: 0.2s;
      transition: 0.2s;
    }
    .infrastructure{
       display: -ms-grid;
       display: grid;
       -webkit-box-pack: center;
           -ms-flex-pack: center;
               justify-content: center;
       margin-top: 1240px;
       width: 770px;
       -ms-grid-columns:350px 50px 320px;
       grid-template-columns:350px 320px;
       -ms-grid-rows: 689px 20px 68px 20px 140px 20px 75px 20px 138px 20px 138px 20px 170px;
       grid-template-rows: 689px 68px 140px 75px 138px 138px 170px;
       grid-column-gap:50px;
       grid-row-gap: 20px;
     }  .infrastructure > *:nth-child(1){
       -ms-grid-row: 1;
       -ms-grid-column: 1;
     }  .infrastructure > *:nth-child(2){
       -ms-grid-row: 1;
       -ms-grid-column: 3;
     }  .infrastructure > *:nth-child(3){
       -ms-grid-row: 3;
       -ms-grid-column: 1;
     }  .infrastructure > *:nth-child(4){
       -ms-grid-row: 3;
       -ms-grid-column: 3;
     }  .infrastructure > *:nth-child(5){
       -ms-grid-row: 5;
       -ms-grid-column: 1;
     }  .infrastructure > *:nth-child(6){
       -ms-grid-row: 5;
       -ms-grid-column: 3;
     }  .infrastructure > *:nth-child(7){
       -ms-grid-row: 7;
       -ms-grid-column: 1;
     }  .infrastructure > *:nth-child(8){
       -ms-grid-row: 7;
       -ms-grid-column: 3;
     }  .infrastructure > *:nth-child(9){
       -ms-grid-row: 9;
       -ms-grid-column: 1;
     }  .infrastructure > *:nth-child(10){
       -ms-grid-row: 9;
       -ms-grid-column: 3;
     }  .infrastructure > *:nth-child(11){
       -ms-grid-row: 11;
       -ms-grid-column: 1;
     }  .infrastructure > *:nth-child(12){
       -ms-grid-row: 11;
       -ms-grid-column: 3;
     }  .infrastructure > *:nth-child(13){
       -ms-grid-row: 13;
       -ms-grid-column: 1;
     }  .infrastructure > *:nth-child(14){
       -ms-grid-row: 13;
       -ms-grid-column: 3;
     }
     #infrastructure_img{
       top: -100px;
       -ms-grid-column:1;
       -ms-grid-column-span:2;
       grid-column:1/3;
       -ms-grid-row: 1;
       -ms-grid-row-span: 1;
       grid-row: 1/2;
       width: 100%;
     }
     .infrastructure_title{
       font-size: 30px;
       line-height: 48px;
       -ms-grid-column:1;
       -ms-grid-column-span:2;
       grid-column:1/3;
       -ms-grid-row: 2;
       -ms-grid-row-span: 1;
       grid-row: 2/3;
       margin-top: 40px;
       color: #181818;
       width: 536px;
     }
     .infrastructure_subtitle{
       font-size: 20px;
       line-height: 32px;
       -ms-grid-column:1;
       -ms-grid-column-span:2;
       grid-column:1/3;
       -ms-grid-row: 3;
       -ms-grid-row-span: 1;
       grid-row: 3/4;
       color: #595959;
     }
  .br_1{
    display: none;
  }
  .br_2{
    display: inline-block;
  }
  .br_3{
    display: none;
  }
  .br_4{
    display: inline-block;
  }
  .br_5{
    display: inline-block;
  }
  .features{
    font-size: 22px;
    line-height: 35px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    padding-top: 20px;
    color: #181818;
    width: 529px;
  }
  .features_img_1{
    width: 62px;
    height: 62px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .features_1{
    font-size: 20px;
    line-height: 32px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    margin-left: 107px !important;
    margin-top: 70px;
    color: #595959;
    width: 529px;
  }
  .features_img_3{
    width: 62px;
    height: 62px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    margin-left: -5px;
  }
  .features_3{
    font-size: 20px;
    line-height: 32px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    margin-left: 107px !important;
    margin-top: 70px;
    color: #595959;
    width: 529px;
  }
  .features_img_5{
    width: 62px;
    height: 63px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    margin-left: -10px;
  }
  .features_5{
    font-size: 20px;
    line-height: 32px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    margin-left: 107px !important;
    margin-top: 70px;
    color: #595959;
    width: 529px;
  }
  .features_img_2{
    width: 62px;
    height: 62px;
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .features_2{
    font-size: 20px;
    line-height: 32px;
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    margin-left: 107px !important;
    margin-top: 70px;
    color: #595959;
    width: 320px;
  }
  .features_img_4{
    width: 62px;
    height: 62px;
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    margin-left: -5px;
  }
  .features_4{
    font-size: 20px;
    line-height: 32px;
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    margin-left: 107px !important;
    margin-top: 70px;
    color: #595959;
    width: 320px;
  }
  .onboarding {
    display: -ms-grid;
    display: grid;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-top: 3000px;
    width: 770px;
    -ms-grid-columns:335px 40px 330px;
    grid-template-columns:335px 330px;
    -ms-grid-rows: 481px 40px 100px 40px 178px 40px 178px;
    grid-template-rows: 481px 100px 178px 178px;
    grid-column-gap:40px;
    grid-row-gap: 40px;
  }.onboarding > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }.onboarding > *:nth-child(2) {
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }.onboarding > *:nth-child(3) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }.onboarding > *:nth-child(4) {
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }.onboarding > *:nth-child(5) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }.onboarding > *:nth-child(6) {
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }.onboarding > *:nth-child(7) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }.onboarding > *:nth-child(8) {
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  .onboarding_title {
    font-size: 30px;
    line-height: 42px;
    -ms-grid-column:1;
    -ms-grid-column-span:2;
    grid-column:1/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    margin-top: 20px;
    color: #181818;
  }
  .onboarding_img{
    width: 696px;
    height: 481px;
    -ms-grid-column:1;
    -ms-grid-column-span:2;
    grid-column:1/3;
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    grid-row: 1/2;
  }
  .square1 {
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-left: -15px;
  }
  .onboarding_text1 {
    font-size: 20px;
    line-height: 32px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-left: 0;
    margin-top: 82px;
    color: #595959;
  }
  .square3 {
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .onboarding_text3 {
    font-size: 20px;
    line-height: 32px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    margin-left: 0;
    margin-top: 82px;
    color: #595959;
  }
  .square2 {
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .onboarding_text2 {
    font-size: 20px;
    line-height: 32px;
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    margin-left: 0;
    margin-top: 82px;
    color: #595959;
  }
  .square4 {
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
  }
  .onboarding_text4 {
    font-size: 20px;
    line-height: 32px;
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    margin-left: 0;
    margin-top: 82px;
    color: #595959;
  }
  .selection {
    margin-top: 4250px;
    width: 770px;
    -ms-grid-columns: 600px;
    grid-template-columns: 600px;
    -ms-grid-rows: 30px 20px 100px 20px 31px 20px 31px 20px 31px 20px 35px 20px 100px 20px 31px 20px 31px 20px 31px 20px 35px 20px 100px;
    grid-template-rows: 30px 100px repeat(3, 31px) 35px 100px repeat(3, 31px) 35px 100px;
    grid-row-gap: 20px;
    padding-left: 62px;
  }.selection > *:nth-child(1) {
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }.selection > *:nth-child(2) {
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }.selection > *:nth-child(3) {
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }.selection > *:nth-child(4) {
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }.selection > *:nth-child(5) {
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }.selection > *:nth-child(6) {
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }.selection > *:nth-child(7) {
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }.selection > *:nth-child(8) {
    -ms-grid-row: 15;
    -ms-grid-column: 1;
  }.selection > *:nth-child(9) {
    -ms-grid-row: 17;
    -ms-grid-column: 1;
  }.selection > *:nth-child(10) {
    -ms-grid-row: 19;
    -ms-grid-column: 1;
  }.selection > *:nth-child(11) {
    -ms-grid-row: 21;
    -ms-grid-column: 1;
  }.selection > *:nth-child(12) {
    -ms-grid-row: 23;
    -ms-grid-column: 1;
  }
  .selection_note {
    margin-top: 30px;
  }
  .selection_account {
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
  }
  .selection_account_1{
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 8;
    -ms-grid-row-span: 1;
    grid-row: 8/9;
  }
  .selection_account_2{
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 9;
    -ms-grid-row-span: 1;
    grid-row: 9/10;
  }
  .selection_account_3{
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 10;
    -ms-grid-row-span: 1;
    grid-row: 10/11;
  }
  .selection_account_4{
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 11;
    -ms-grid-row-span: 1;
    grid-row: 11/12;
  }
  .selection_button{
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    -ms-grid-row: 12;
    -ms-grid-row-span: 1;
    grid-row: 12/13;
    margin-top: 20px;
  }
  #Brokerage_and_Liquidity{
    padding-left: 62px;
    margin-top: 5200px;
    width: 770px;
    -ms-grid-columns:270px 100px 400px;
    grid-template-columns:270px 400px;
    -ms-grid-rows: 65px 35px 50px 35px 50px 35px 50px 35px 75px 35px 250px;
    grid-template-rows: 65px repeat(3, 50px) 75px 250px;
    grid-column-gap:100px;
    grid-row-gap: 35px;
  }
  #Brokerage_and_Liquidity > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #Brokerage_and_Liquidity > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  #Brokerage_and_Liquidity > *:nth-child(3){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  #Brokerage_and_Liquidity > *:nth-child(4){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  #Brokerage_and_Liquidity > *:nth-child(5){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  #Brokerage_and_Liquidity > *:nth-child(6){
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  #Brokerage_and_Liquidity > *:nth-child(7){
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  #Brokerage_and_Liquidity > *:nth-child(8){
    -ms-grid-row: 7;
    -ms-grid-column: 3;
  }
  #Brokerage_and_Liquidity > *:nth-child(9){
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  #Brokerage_and_Liquidity > *:nth-child(10){
    -ms-grid-row: 9;
    -ms-grid-column: 3;
  }
  #Brokerage_and_Liquidity > *:nth-child(11){
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  #Brokerage_and_Liquidity > *:nth-child(12){
    -ms-grid-row: 11;
    -ms-grid-column: 3;
  }
  .brokerage_title{
    font-size: 40px;
    line-height: 64px;
    color: #181818;
  }
  .liquidity_title{
    font-size: 40px;
    line-height: 64px;
    color: #181818;
  }
  .square5 {
    width: 52px;
    height: 52px;
  }
  .brokerage_text1 {
    font-size: 18px;
    line-height: 25px;
    margin-left: 74px;
    color: #595959;
    margin-top: 2px;
  }
  .square6 {
    width: 52px;
    height: 52px;
  }
  .brokerage_text2 {
    font-size: 18px;
    line-height: 25px;
    margin-left: 74px;
    color: #595959;
  }
  .square7 {
    width: 52px;
    height: 52px;
    margin-left: 0;
  }
  .brokerage_text3 {
    font-size: 18px;
    line-height: 25px;
    margin-left: 74px;
    color: #595959;
    margin-top: 12px;
  }
  .square8 {
    width: 52px;
    height: 52px;
  }
  .brokerage_text4 {
    font-size: 18px;
    line-height: 25px;
    margin-left: 74px;
    color: #595959;
    margin-top: 6px;
  }
  .trading{
    margin-top: 5750px;
    padding-left: 62px;
    width: 770px;
    -ms-grid-columns:300px 80px 300px;
    grid-template-columns:300px 300px;
    grid-column-gap:80px;
  }
  .trading_img1{
    width: 300px;
    height: 158px;
    margin-top: 70px;
  }
  .trading_img2{
    width: 300px;
  height: 158px;
  margin-top: 70px;
  }
  .square9 {
    width: 52px;
    height: 52px;
  }
  .liquidity_text1 {
    font-size: 18px;
    line-height: 25px;
    margin-left: 74px;
    color: #595959;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
  }
  .square10 {
    width: 52px;
    height: 52px;
  }
  .liquidity_text2 {
    font-size: 18px;
    line-height: 25px;
    margin-left: 74px;
    color: #595959;
  }
  .square11 {
    width: 52px;
    height: 52px;
  }
  .liquidity_text3 {
    font-size: 18px;
    line-height: 25px;
    margin-left: 74px;
    color: #595959;
  }
  .square12 {
    width: 52px;
    height: 52px;
  }
  .liquidity_text4 {
    font-size: 18px;
    line-height: 25px;
    margin-left: 74px;
    color: #595959;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  #Partners_Providers{
    margin-top: 6100px;
    padding-left: 62px;
    width: 770px;
    -ms-grid-columns:210px 30px 210px 30px 210px;
    grid-template-columns:repeat(3, 210px);
    -ms-grid-rows: 64px 30px 126px 30px 126px;
    grid-template-rows: 64px 126px 126px;
    grid-row-gap: 30px;
    grid-column-gap: 30px;
  }
  #Partners_Providers > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  #Partners_Providers > *:nth-child(2){
    -ms-grid-row: 1;
    -ms-grid-column: 3;
  }
  #Partners_Providers > *:nth-child(3){
    -ms-grid-row: 1;
    -ms-grid-column: 5;
  }
  #Partners_Providers > *:nth-child(4){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  #Partners_Providers > *:nth-child(5){
    -ms-grid-row: 3;
    -ms-grid-column: 3;
  }
  #Partners_Providers > *:nth-child(6){
    -ms-grid-row: 3;
    -ms-grid-column: 5;
  }
  #Partners_Providers > *:nth-child(7){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  #Partners_Providers > *:nth-child(8){
    -ms-grid-row: 5;
    -ms-grid-column: 3;
  }
  #Partners_Providers > *:nth-child(9){
    -ms-grid-row: 5;
    -ms-grid-column: 5;
  }
  .partners_img1{
    width: 210px;
    height: 126px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .partners_img2{
    width: 210px;
    height: 126px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .partners_img3{
    width: 210px;
    height: 126px;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
  }
  .partners_img4{
    width: 210px;
    height: 126px;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .partners_img5{
    width: 210px;
    height: 126px;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-column: 2/3;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .partners_img6{
    width: 210px;
    height: 126px;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
  }
  .partners_title{
    color: #181818;
    font-size: 40px;
    line-height: 64px;
  }
  .partners_img{
    width: 760px;
    height: 350px;
    margin-left: -10px;
  }
  .contact{
    margin-top: 6670px;
    width: 770px;
    -ms-grid-columns:690px;
    grid-template-columns:690px;
    -ms-grid-rows: 70px 16px 84px 16px 84px 16px 84px 16px 286px 16px 83px 16px 31px;
    grid-template-rows: 70px repeat(3, 84px) 286px 83px 31px;
    grid-row-gap: 16px;
    padding-left: 62px;
  }
  .contact > *:nth-child(1){
    -ms-grid-row: 1;
    -ms-grid-column: 1;
  }
  .contact > *:nth-child(2){
    -ms-grid-row: 3;
    -ms-grid-column: 1;
  }
  .contact > *:nth-child(3){
    -ms-grid-row: 5;
    -ms-grid-column: 1;
  }
  .contact > *:nth-child(4){
    -ms-grid-row: 7;
    -ms-grid-column: 1;
  }
  .contact > *:nth-child(5){
    -ms-grid-row: 9;
    -ms-grid-column: 1;
  }
  .contact > *:nth-child(6){
    -ms-grid-row: 11;
    -ms-grid-column: 1;
  }
  .contact > *:nth-child(7){
    -ms-grid-row: 13;
    -ms-grid-column: 1;
  }
  .contact_title{
    color: #181818;
    font-size: 40px;
    line-height: 64px;
  }
  .name_input{
    -ms-grid-row: 2;
    -ms-grid-row-span: 1;
    grid-row: 2/3;
    width: 690px;
    height: 84px;
  }
  .mail_input{
    -ms-grid-row: 3;
    -ms-grid-row-span: 1;
    grid-row: 3/4;
    width: 690px;
    height: 84px;
  }
  .phone_input{
    -ms-grid-row: 4;
    -ms-grid-row-span: 1;
    grid-row: 4/5;
    width: 690px;
    height: 84px;
  }
  .text_input{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 5;
    -ms-grid-row-span: 1;
    grid-row: 5/6;
    width: 690px;
    height: 286px;
  }
  .contact_button{
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-column: 1/2;
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    width: 330px;
    height: 83px;
  }
  .contact_text{
    -ms-grid-row: 6;
    -ms-grid-row-span: 1;
    grid-row: 6/7;
    margin-left: 380px;
  }
  .contact_text2{
    -ms-grid-row: 7;
    -ms-grid-row-span: 1;
    grid-row: 7/8;
    margin-top: 30px;
  }
  .footer {
    margin-top: 7620px;
    padding-left: 62px;
    width: 770px;
    -ms-grid-columns: 180px 110px 400px;
    grid-template-columns: 180px 400px;
    grid-column-gap:110px;
  }
  .footer_logo_name {
    margin-left: 70px;
    -ms-grid-column:1;
    -ms-grid-column-span:1;
    grid-column:1/2;
    margin-top: -50px;
  }
  #link6{
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    margin-top: -60px;
  }
  #link7{
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    margin-top: -60px;
    margin-left: 350px;
  }
  #link8{
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    margin-left: -90px;
    margin-top: 15px;
  }
  #link9{
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
   margin-top: -30px;
   margin-left: 200px;
  }
  #link10{
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    margin-top: 30px;
  }
  .footer_logo {
    margin-left: -120px;
  }
  .footer_address{
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    margin-top: 70px;
    margin-left: 80px;
  }
  .footer_mail{
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    margin-top: 10px;
    margin-left:-40px;
  }
  .footer_img1{
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
   margin-top: -30px;
   margin-left: 200px;
  }
  .footer_img2{
    -ms-grid-column:2;
    -ms-grid-column-span:1;
    grid-column:2/3;
    margin-top: -45px;
    margin-left: 330px;
  }
}
